<!-- Modal -->
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{headerTitle}}</h5>
  <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="closeMod()"></i></div>
</div>
<div class="modal-body">
  <form [formGroup]="form">
      <div class="row">
        <div class="col-md-12">
          <b>ก. การครองชีพ</b><br>
          <br>
        </div>
        <div class="col-md-12"> 1. รายได้ </div>
        <div class="col-md-12">
          <br> 
          <textarea rows="3" class="form-control" formControlName="income" [(ngModel)]="model.income" maxlength="255" (keyup)="CheckInput($event)"></textarea>
          <p *ngIf="isError(form.controls['income'])">**กรุณากรอกข้อมูล</p>
          <br>
        </div>
        <div class="col-md-12"> 2. รายจ่าย </div>
        <div class="col-md-12">
          <br>
          <textarea rows="3" class="form-control" formControlName="expenses" [(ngModel)]="model.expenses" maxlength="255" (keyup)="CheckInput($event)"></textarea>
          <p *ngIf="isError(form.controls['expenses'])">**กรุณากรอกข้อมูล</p>
          <br>
        </div>
        <div class="col-md-12">
          <b>ข. สภาพความเป็นอยู่ในปัจจุบันและมาตรฐานการครองชีพ</b><br>
          <br>
        </div>
        <div class="col-md-12"> 1. การดำเนินชีวิต </div>
        <div class="col-md-12">
          <br>
          <textarea rows="3" class="form-control" formControlName="lifestyle" [(ngModel)]="model.lifestyle" maxlength="255"></textarea>
          <p *ngIf="isError(form.controls['lifestyle'])">**กรุณากรอกข้อมูล</p>
          <br>
        </div>
        <div class="col-md-12"> 2. ฐานะทางครอบครัว </div>
        <div class="col-md-12">
          <br>
          <textarea rows="3" class="form-control" formControlName="familystatus" [(ngModel)]="model.familystatus"
            maxlength="255" (keyup)="CheckInput($event)"></textarea>
          <p *ngIf="isError(form.controls['familystatus'])">**กรุณากรอกข้อมูล</p>
          <br>
        </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" (click)="closeModal()">ตกลง</button>
  <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal" (click)="prevModal()">
    < ย้อนกลับ</button> <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="nextModal()">หน้าถัดไป
      >
  </button>
</div>