p{
    margin-top: 5px;
    color: red;
    font-weight: bold;
}
.modal-header,
.btn-success {
  background-color: rgb(67, 185, 94) !important;
}
.btn-danger {
  background-color: rgb(255, 206, 72) !important;
}
.btn-warning {
  background-color: rgb(42, 114, 182) !important;
}
.modal-body {
  background-color: rgb(247, 245, 245) !important;
}
h5 {
  color: white !important;
}
.fa-times{
  margin-right: -25%;
  color:#fff;
}
.fa-times:hover{
  color:rgb(179, 0, 0);
}