p {
  margin-top: 5px;
  color: red;
  font-weight: bold;
}
.modal-header {
  background-color: rgb(67, 185, 94);
}
.modal-body {
  background-color: rgb(247, 245, 245);
}
label {
  color: #4b4b4b !important;
  font-size: 11pt;
  font-weight: normal !important;
}
h5 {
  color: white !important;
}
.btn-cancle {
  background-color: rgb(255, 206, 72) !important;
}
.btn-save {
  background-color: rgb(67, 185, 94) !important;
}
.btn-back {
  background-color: rgb(42, 114, 182) !important;
}
.btn-reset {
  background-color: rgb(255, 206, 72) !important;
}
.nav-link {
  color: black;
}
.nav-link:hover {
  color: black;
  border: 1px solid rgb(67, 185, 94);
  border-bottom-color: rgb(247, 245, 245);
}
.underline {
  border-bottom: 1px solid rgb(67, 185, 94);
}
.active {
  color: rgb(9, 114, 35) !important;
  font-weight: bold;
  border-color: rgb(67, 185, 94) !important;
  border-bottom-color: rgb(247, 245, 245) !important;
  background-color: rgb(247, 245, 245) !important;
}
.btn-add,
.btn-search {
  background-color: rgb(30, 114, 50) !important;
}
span {
  color: #80b1a0 !important;
  font-size: 19pt;
}
span:hover {
  cursor: pointer !important;
  color: rgb(67, 179, 207) !important;
  font-size: 19pt;
}
span:active {
  color: rgb(67, 179, 207) !important;
  transform: scale(0.8);
}
.content {
  color: black;
  border-radius: 10px;
  background-color: #def3f4 !important;
}
.position {
  margin-right: -10px;
  margin-top: -15px;
  color: #f87272 !important;
  font-size: 19pt;
}
.position:hover {
  margin-right: -10px;
  margin-top: -15px;
  color: #ff1414 !important;
  font-size: 19pt;
}
input[type="text"],[type="date"] {
  padding: 5px;
  margin-bottom: 5px;
}
.fa-times{
  margin-right: -25%;
  color:#fff;
}
.fa-times:hover{
  color:rgb(179, 0, 0);
}