<!-- Modal -->
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel"> จัดการสถานภาพเด็ก</h5>
  <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="closeModal()"></i></div>
</div>
<div class="modal-body">

  <!-- <div class="container"> -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs underline" role="tablist" *ngIf="itab == 1">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#status" (click)="itab1(itab)">เลือกสถานะ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#patron" *ngIf="status == 1" (click)="itab2(itab)">ผู้อุปถัมภ์</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#adopter" *ngIf="status == 2" (click)="itab3(itab)">ผู้บุญธรรม</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-toggle="tab" href="#adopter" *ngIf="status == 3" (click)="itab4(itab)">ครอบครัว</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#adopterinter" *ngIf="status == 4" (click)="itab5(itab)">ผู้บุญธรรมต่างชาติ</a>
      </li>
    </ul>

    <ul class="nav nav-tabs underline" role="tablist" *ngIf="itab == 2">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#status" (click)="itab1(itab)">เลือกสถานะ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#patron" *ngIf="status == 1" (click)="itab2(itab)">ผู้อุปถัมภ์</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#adopter" *ngIf="status == 2" (click)="itab3(itab)">ผู้บุญธรรม</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-toggle="tab" href="#adopter" *ngIf="status == 3" (click)="itab4(itab)">ครอบครัว</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#adopterinter" *ngIf="status == 4" (click)="itab5(itab)">ผู้บุญธรรมต่างชาติ</a>
      </li>
    </ul>

    <ul class="nav nav-tabs underline" role="tablist" *ngIf="itab == 3">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#status" (click)="itab1(itab)">เลือกสถานะ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#patron" *ngIf="status == 1" (click)="itab2(itab)">ผู้อุปถัมภ์</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#adopter" *ngIf="status == 2" (click)="itab3(itab)">ผู้บุญธรรม</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#adopter" *ngIf="status == 3" (click)="itab4(itab)">ครอบครัว</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#adopterinter" *ngIf="status == 4" (click)="itab5(itab)">ผู้บุญธรรมต่างชาติ</a>
      </li>
    </ul>

    <ul class="nav nav-tabs underline" role="tablist" *ngIf="itab == 4">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#status" (click)="itab1(itab)">เลือกสถานะ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#patron" *ngIf="status == 1" (click)="itab2(itab)">ผู้อุปถัมภ์</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#adopter" *ngIf="status == 2" (click)="itab3(itab)">ผู้บุญธรรม</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#adopter" *ngIf="status == 3" (click)="itab4(itab)">ครอบครัว</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#adopterinter" *ngIf="status == 4" (click)="itab5(itab)">ผู้บุญธรรมต่างชาติ</a>
      </li>
    </ul>

    <ul class="nav nav-tabs underline" role="tablist" *ngIf="itab == 5">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#status" (click)="itab1(itab)">เลือกสถานะ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#patron" *ngIf="status == 1" (click)="itab2(itab)">ผู้อุปถัมภ์</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#adopter" *ngIf="status == 2" (click)="itab3(itab)">ผู้บุญธรรม</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#adopter" *ngIf="status == 3" (click)="itab4(itab)">ครอบครัว</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#adopterinter" *ngIf="status == 4" (click)="itab5(itab)">ผู้บุญธรรมต่างชาติ</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" *ngIf="itab == 1">
      <div id="status" class="container tab-pane active"><br>
        <form [formGroup]="form">

          <div class="row">
            <div class="col-md-2 text-right"><label><b>สถานะ :</b></label></div>
            <div class="col-md-5">
              <select class="form-control" style="padding: 5px; height: 35px; cursor: pointer;" [(ngModel)]="model.statusid"
                formControlName="status" (change)="onChangeStatus()">
                <option *ngFor="let item of orphanStatusList" [value]="item.orphanstatusid">{{item.name}}</option>
                <p *ngIf="isError(form.controls['status'],'required')">**กรุณาเลือกข้อมูล</p>
              </select>
            </div>
            <div class="col-md-4"></div>
          </div><br>
          <div class="row">
            <div class="col-md-2 text-right">
              <label><b>รายละเอียด :</b></label>
            </div>
            <div class="col-md-10">
              <textarea class="form-control" formControlName="detail" [(ngModel)]="model.detail" name="model.datail"
                maxlength="300" rows="5"></textarea>
              <p *ngIf="isError(form.controls['detail'],'required')">**กรุณากรอกข้อมูล</p>
            </div>
          </div>

        </form>
      </div>
    </div>


    <div class="tab-content" *ngIf="itab==2">
      <div id="patron" class="container"><br>
        <div *ngIf="model.patronid">
          <div class="content">
            <div class="text-right">
              <span class="fas fa-times-circle position" title="ยกเลิกผู้อุปถัมภ์" (click)="onUnSelectPatron()"></span>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">ชื่อ - นามสกุล :</div>
              <div class="col-md-3">{{model.fullname}}</div>
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
            </div><br>
            <div class="row">
              <div class="col-md-3 text-right">วัน/เดือน/ปีเกิด :</div>
              <div class="col-md-3">{{model.birthdate}}</div>
              <div class="col-md-3 text-right">อายุ :</div>
              <div class="col-md-3">{{model.agepatron}} (ปี.เดือน)</div>
            </div><br>
            <div class="row">
              <div class="col-md-3 text-right">ที่อยู่ :</div>
              <div class="col-md-9">บ้านเลขที่ {{model.homeno}} หมู่ {{model.moono}} &nbsp; ต.{{model.tumbolname}}
                อ.{{model.amphurname}} &nbsp; จ.{{model.provincename}}</div>
            </div>
            <br>
          </div>
        </div>

        <div *ngIf="!model.patronid">
          <div class="row">
            <div class="col-md-2 text-right"><label>ชื่อ - ผู้อุปถัมภ์ :</label></div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="model.namePatron" (keypress)="onKeySearch($event)"
                style="height: 35;padding: 5px" (keypress)="chkName($event)">
            </div>
            <div class="col-md-6">
              <button class="btn btn-warning btn-sm btn-reset" (click)="onReset()">รีเซ็ท</button>
              &nbsp;
              <button class="btn btn-primary btn-sm btn-search" (click)="onSearchPatron()">ค้นหา</button>
            </div>
          </div>
          <hr>
          <button class="btn btn-add btn-sm" (click)="onAddPatron()">เพิ่มผู้อุปถัมภ์</button><br><br>
          <ng2-smart-table [settings]="tbSettings" [source]="datasource" (rowSelect)="func.setTableNumber($event)"></ng2-smart-table>
        </div>
      </div>
    </div>

    <div class="tab-content" *ngIf="itab == 3">
      <div id="adopter" class="container"><br>
        <div *ngIf="foster">
          <div class="content">
            <div class="text-right">
              <span class="fas fa-times-circle position" title="ยกเลิกผู้บุญธรรม" (click)="onUnSelectFoster()"></span>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">ชื่อ - นามสกุล :</div>
              <div class="col-md-3">{{modelfoster.fullname}}</div>
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
            </div><br>
            <div class="row">
              <div class="col-md-3 text-right">วัน/เดือน/ปีเกิด :</div>
              <div class="col-md-3">{{modelfoster.birthdate}}</div>
              <div class="col-md-3 text-right">อายุ :</div>
              <div class="col-md-3">{{modelfoster.Age}} (ปี.เดือน)</div>
            </div><br>
            <div class="row">
              <div class="col-md-3 text-right">ที่อยู่ :</div>
              <div class="col-md-9">บ้านเลขที่ {{modelfoster.homeno}} หมู่ {{modelfoster.moono}} &nbsp; ต.{{modelfoster.tumbolname}} &nbsp;
                อ.{{modelfoster.amphurname}} &nbsp; จ.{{modelfoster.provincename}}</div>
            </div>
            <br>

          </div>
        </div>


        <div *ngIf="!foster">
          <div id="status" class="tab-pane active"><br>
            <form [formGroup]="form">
              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">เลขบัตรประจำตัวประชาชน :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.citizenid" (blur)="onBlur()" name="model.citizenid"
                    formControlName="citizenid" maxlength="13" minlength="13" placeholder="เลขประจำตัวประชาชน 13 หลัก" (keypress)="chkCitizenid($event)">
                  <p *ngIf="isError(form.controls['citizenid'],'required' )">**กรุณากรอกข้อมูล</p>
                  <p *ngIf="isDuplicate == true">เลขประจำตัวประชาชนซ้ำ</p>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
              </div><br>


              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">เพศ :</div>
                <div class="col-md-4">
                  <select class="form-control" style="padding: 5px; height: 35px; cursor: pointer;" [(ngModel)]="model.genderid"
                    name="model.genderid" formControlName="genderid" (change)="setPrefix(model.genderid)">
                    <option value="">--กรุณาเลือก--</option>
                    <option *ngFor="let item of genderList" [value]="item.genderid">{{item.gendername}}</option>
                  </select>
                  <p *ngIf="isError(form.controls['genderid'],'required')">**กรุณาเลือกข้อมูล</p>
                </div>
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">คำนำหน้า :</div>
                <div class="col-md-4">
                  <select class="form-control" [(ngModel)]="model.prefixid" name="model.prefixid" formControlName="prefixid"
                    style="padding: 5px; height: 35px;">
                    <option value="">--กรุณาเลือก--</option>
                    <option *ngFor="let item of prefixList" [value]="item.prefixid">{{item.name}}</option>
                  </select>
                  <p *ngIf="isError(form.controls['prefixid'],'required')">**กรุณาเลือกข้อมูล</p>
                </div>
              </div><br>


              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">ชื่อ :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.firstname" name="model.firstname"
                    formControlName="firstname" autocomplete="disable" maxlength="50" (keypress)="chkName($event)">
                  <p *ngIf="isError(form.controls['firstname'],required)">**กรุณากรอกข้อมูล</p>
                </div>
                <div class="col-md-2 text-right" style="color: black;font-weight: normal">นามสกุล :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.lastname" name="model.lastname"
                    formControlName="lastname" autocomplete="disable" maxlength="50" (keypress)="chkName($event)">
                  <p *ngIf="isError(form.controls['lastname'],'required')">**กรุณากรอกข้อมูล</p>
                </div>
              </div><br>
              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">วัน/เดือน/ปีเกิด :</div>
                <div class="col-md-4">
                  <input type="date" class="form-control" [(ngModel)]="model.birthdate" name="model.birthdate"
                    formControlName="birthdate" [max]="datenow" (keyup)="chkDate()">
                  <p *ngIf="isError(form.controls['birthdate'],'required')">**กรุณาเลือกข้อมูล</p>
                  <p *ngIf="ischkdate == true">**กรุณากรอกข้อมูลให้ถูกต้อง</p>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
              </div><br>

              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">บ้านเลขที่ :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.homeno" name="model.homeno"
                    formControlName="homeno" autocomplete="disable" maxlength="10" (keypress)="chkAddress($event)">
                  <p *ngIf="isError(form.controls['homeno'],'required')">**กรุณากรอกข้อมูล</p>
                </div>
                <div class="col-2 text-right" style="color: black; font-weight: normal">หมู่ที่ :</div>
                <div class="col-4">
                  <input type="text" class="form-control" [(ngModel)]="model.moono" name="model.moono" formControlName="moono"
                    autocomplete="disable" maxlength="10" (keypress)="chkAddress(event)">
                  <p *ngIf="isError(form.controls['moono'],'required')">**กรุณากรอกข้อมูล</p>
                </div>
              </div><br>

              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">ซอย :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.soi" name="model.soi"
                  formControlName="soi" autocomplete="disable" maxlength="100" >
                  <p *ngIf="isError(form.controls['soi'],'required')">**กรุณากรอกข้อมูล</p>
                </div>
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">ถนน :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.road" name="model.road" 
                  formControlName="road" autocomplete="disable" maxlength="100" >
                  <p *ngIf="isError(form.controls['road'],'required')">**กรุณากรอกข้อมูล</p>
                </div>
              </div><br>

              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">จังหวัด :</div>
                <div class="col-md-4">
                  <select class="form-control" [(ngModel)]="model.provincecode" name="model.provincecode"
                    formControlName="provincecode" (change)="onProvinceChange()" style="padding: 5px; height: 35px;">
                    <option value="">--กรุณาเลือก--</option>
                    <option *ngFor="let item of provinceList" [value]="item.code">{{item.name}}</option>
                  </select>
                  <p *ngIf="isError(form.controls['provincecode'],'required')">**กรุณาเลือกข้อมูล</p>
                </div>
                <div class="col-md-2 text-right" style="color: black; font-weight: normal"> อำเภอ :</div>
                <div class="col-md-4">
                  <select class="form-control" [(ngModel)]="model.amphurcode" name="model.amphurcode" formControlName="amphurcode"
                    (change)="onAmphurChange()" style="padding: 5px; height: 35px;">
                    <option value="">--กรุณาเลือก--</option>
                    <option *ngFor="let item of amphurList" [value]="item.code">{{item.name}}</option>
                  </select>
                  <p *ngIf="isError(form.controls['amphurcode'],'required')">**กรุณาเลือกข้อมูล</p>
                </div>
              </div><br>

              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">ตำบล :</div>
                <div class="col-md-4">
                  <select class="form-control" [(ngModel)]="model.tumbolcode" name="model.tumbolcode" formControlName="tumbolcode"
                    style="padding: 5px; height: 35px;">
                    <option value="">--กรุณาเลือก--</option>
                    <option *ngFor="let item of tumbolList" [value]="item.code">{{item.name}}</option>
                  </select>
                  <p *ngIf="isError(form.controls['tumbolcode'],'required')">**กรุณาเลือกข้อมูล</p>
                </div>
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">รหัสไปรษณีย์ :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.zipcode" name="model.zipcode"
                    formControlName="zipcode" maxlength="5" (keypress)="chkAddress($event)">
                  <p *ngIf="isError(form.controls['zipcode'],'required')">**กรุณากรอกข้อมูล</p>
                </div>
              </div><br>

            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content" *ngIf="itab == 4">
      <div id="adopter" class="container"><br>
        <div *ngIf="originalfamily">
          <div class="content">
            <div class="text-right">
              <span class="fas fa-times-circle position" (click)="onUnSelectorOriginal()"></span>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">ชื่อ - นามสกุล :</div>
              <div class="col-md-3">{{modeloriginalfamily.fullname}}</div>
              <div class="col-md-3 text-right">เกี่ยวข้องเป็น :</div>
              <div class="col-md-3">{{modeloriginalfamily.relationship}}</div>
            </div><br>
            <div class="row">
              <div class="col-md-3 text-right">วัน/เดือน/ปีเกิด :</div>
              <div class="col-md-3">{{modeloriginalfamily.birthdate}}</div>
              <div class="col-md-3 text-right">อายุ :</div>
              <div class="col-md-3">{{modeloriginalfamily.Age}} (ปี.เดือน)</div>
            </div><br>
            <div class="row">
              <div class="col-md-3 text-right">ที่อยู่ :</div>
              <div class="col-md-9">บ้านเลขที่ {{modeloriginalfamily.homeno}} หมู่ {{modeloriginalfamily.moono}} &nbsp;
                ต.{{modeloriginalfamily.tumbolname}}
                อ.{{modeloriginalfamily.amphurname}} &nbsp; จ.{{modeloriginalfamily.provincename}}</div>
            </div><br>

          </div>
        </div>


        <div *ngIf="!originalfamily">
          <div id="status" class="tab-pane active"><br>
            <form [formGroup]="form">
              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">เลขบัตรประจำตัวประชาชน :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.citizenid" (blur)="onBlur()" name="model.citizenid"
                    formControlName="citizenid" maxlength="13" minlength="13" placeholder="เลขประจำตัวประชาชน 13 หลัก" (keypress)="chkCitizenid($event)">
                  <p *ngIf="isError(form.controls['citizenid'],'required' )">**กรุณากรอกข้อมูล</p>
                  <p *ngIf="isDuplicate == true">เลขประจำตัวประชาชนซ้ำ</p>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
              </div><br>


              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">เพศ :</div>
                <div class="col-md-4">
                  <select class="form-control" style="padding: 5px; height: 35px; cursor: pointer;" [(ngModel)]="model.genderid"
                    name="model.genderid" formControlName="genderid" (change)="setPrefix(model.genderid)">
                    <option value="">--กรุณาเลือก--</option>
                    <option *ngFor="let item of genderList" [value]="item.genderid">{{item.gendername}}</option>
                  </select>
                  <p *ngIf="isError(form.controls['genderid'],'required')">**กรุณาเลือกข้อมูล</p>
                </div>
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">คำนำหน้า :</div>
                <div class="col-md-4">
                  <select class="form-control" [(ngModel)]="model.prefixid" name="model.prefixid" formControlName="prefixid"
                    style="padding: 5px; height: 35px;">
                    <option value="">--กรุณาเลือก--</option>
                    <option *ngFor="let item of prefixList" [value]="item.prefixid">{{item.name}}</option>
                  </select>
                  <p *ngIf="isError(form.controls['prefixid'],'required')">**กรุณาเลือกข้อมูล</p>
                </div>
              </div><br>


              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">ชื่อ :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.firstname" name="model.firstname"
                    formControlName="firstname" autocomplete="disable" maxlength="50" (keypress)="chkName($event)">
                  <p *ngIf="isError(form.controls['firstname'],required)">**กรุณากรอกข้อมูล</p>
                </div>
                <div class="col-md-2 text-right" style="color: black;font-weight: normal">นามสกุล :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.lastname" name="model.lastname"
                    formControlName="lastname" autocomplete="disable" maxlength="50" (keypress)="chkName($event)">
                  <p *ngIf="isError(form.controls['lastname'],'required')">**กรุณากรอกข้อมูล</p>
                </div>
              </div><br>

              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">วัน/เดือน/ปีเกิด :</div>
                <div class="col-md-4">
                  <input type="date" class="form-control" [(ngModel)]="model.birthdate" name="model.birthdate"
                    formControlName="birthdate" [max]="datenow" (keyup)="chkDate()">
                  <p *ngIf="isError(form.controls['birthdate'],'required')">**กรุณาเลือกข้อมูล</p>
                  <p *ngIf="ischkdate == true">**กรุณากรอกข้อมูลให้ถูกต้อง</p>
                </div>

                <div class="col-md-2 text-right" style="color: black; font-weight: normal">เกี่ยวข้อง :</div>
                <div class="col-md-3">
                  <input type="text" class="form-control" [(ngModel)]="model.relationship" name="model.relationship"
                    formControlName="relationship" autocomplete="disable" maxlength="50" (keypress)="chkName($event)">
                  <p *ngIf="isError(form.controls['relationship'],'reqired')">**กรุณากรอกข้อมูล</p>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>

              </div><br>

              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">บ้านเลขที่ :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.homeno" name="model.homeno"
                    formControlName="homeno" autocomplete="disable" maxlength="10" (keypress)="chkAddress($event)">
                  <p *ngIf="isError(form.controls['homeno'],'required')">**กรุณากรอกข้อมูล</p>
                </div>
                <div class="col-2 text-right" style="color: black; font-weight: normal">หมู่ที่ :</div>
                <div class="col-4">
                  <input type="text" class="form-control" [(ngModel)]="model.moono" name="model.moono" formControlName="moono"
                    autocomplete="disable" maxlength="10" (keypress)="chkAddress($event)">
                  <p *ngIf="isError(form.controls['moono'],'required')">**กรุณากรอกข้อมูล</p>
                </div>
              </div><br>

              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">ซอย :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.soi" name="model.soi" formControlName="soi"
                    autocomplete="disable" maxlength="100" >
                  <p *ngIf="isError(form.controls['soi'],'required')">**กรุณากรอกข้อมูล</p>
                </div>
                <div class="col-2 text-right" style="color: black; font-weight: normal">ถนน :</div>
                <div class="col-4">
                  <input type="text" class="form-control" [(ngModel)]="model.road" name="model.road" formControlName="road"
                    autocomplete="disable" maxlength="100">
                  <p *ngIf="isError(form.controls['road'],'required')">**กรุณากรอกข้อมูล</p>
                </div>
              </div><br>

              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">จังหวัด :</div>
                <div class="col-md-4">
                  <select class="form-control" [(ngModel)]="model.provincecode" name="model.provincecode"
                    formControlName="provincecode" (change)="onProvinceChange()" style="padding: 5px; height: 35px;">
                    <option value="">--กรุณาเลือก--</option>
                    <option *ngFor="let item of provinceList" [value]="item.code">{{item.name}}</option>
                  </select>
                  <p *ngIf="isError(form.controls['provincecode'],'required')">**กรุณาเลือกข้อมูล</p>
                </div>
                <div class="col-md-2 text-right" style="color: black; font-weight: normal"> อำเภอ :</div>
                <div class="col-md-4">
                  <select class="form-control" [(ngModel)]="model.amphurcode" name="model.amphurcode" formControlName="amphurcode"
                    (change)="onAmphurChange()" style="padding: 5px; height: 35px;">
                    <option value="">--กรุณาเลือก--</option>
                    <option *ngFor="let item of amphurList" [value]="item.code">{{item.name}}</option>
                  </select>
                  <p *ngIf="isError(form.controls['amphurcode'],'required')">**กรุณาเลือกข้อมูล</p>
                </div>
              </div><br>

              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">ตำบล :</div>
                <div class="col-md-4">
                  <select class="form-control" [(ngModel)]="model.tumbolcode" name="model.tumbolcode" formControlName="tumbolcode"
                    style="padding: 5px; height: 35px;">
                    <option value="">--กรุณาเลือก--</option>
                    <option *ngFor="let item of tumbolList" [value]="item.code">{{item.name}}</option>
                  </select>
                  <p *ngIf="isError(form.controls['tumbolcode'],'required')">**กรุณาเลือกข้อมูล</p>
                </div>
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">รหัสไปรษณีย์ :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.zipcode" name="model.zipcode"
                    formControlName="zipcode" maxlength="5" (keypress)="chkAddress($event)">
                  <p *ngIf="isError(form.controls['zipcode'],'required')">**กรุณากรอกข้อมูล</p>
                </div>
              </div><br>


            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content" *ngIf="itab == 5">
      <div id="adopterinter"><br>
        <div *ngIf="fosterforeign">
          <div class="content">
            <div class="text-right">
              <span class="fas fa-times-circle position" title="ยกเลิกผู้บุญธรรม" (click)="onUnSelectFoster()"></span>
            </div>
            <div class="row">
              <div class="col-md-3 text-right">ชื่อ - นามสกุล :</div>
              <div class="col-md-3">{{modelfoster.fullname}}</div>
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
            </div><br>
            <div class="row">
              <div class="col-md-3 text-right">วัน/เดือน/ปีเกิด :</div>
              <div class="col-md-3">{{modelfoster.birthdate}}</div>
              <div class="col-md-3 text-right">อายุ :</div>
              <div class="col-md-3">{{modelfoster.Age}} (ปี.เดือน)</div>
            </div><br>
            <div class="row">
              <div class="col-md-3 text-right">ที่อยู่ :</div>
              <div class="col-md-9">บ้านเลขที่ {{modelfoster.homeno}} หมู่ {{modelfoster.moono}} &nbsp; ต.{{modelfoster.tumbolname}} &nbsp;
                อ.{{modelfoster.amphurname}} &nbsp; จ.{{modelfoster.provincename}}</div>
            </div>
            <br>

          </div>
        </div>


        <div *ngIf="!fosterforeign">
          <div id="status" class="container tab-pane active"><br>
            <form [formGroup]="form">
        
              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">เพศ :</div>
                <div class="col-md-4">
                  <select class="form-control" style="padding: 5px; height: 35px; cursor: pointer;" [(ngModel)]="model.genderid"
                    name="model.genderid" formControlName="genderid" (change)="setPrefix(model.genderid)">
                    <option value="">--กรุณาเลือก--</option>
                    <option *ngFor="let item of genderList" [value]="item.genderid">{{item.gendername}}</option>
                  </select>
                  <p *ngIf="isError(form.controls['genderid'],'required')">**กรุณาเลือกข้อมูล</p>
                </div>
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">คำนำหน้า :</div>
                <div class="col-md-4">
                  <select class="form-control" [(ngModel)]="model.prefixid" name="model.prefixid" formControlName="prefixid"
                    style="padding: 5px; height: 35px;">
                    <option value="">--กรุณาเลือก--</option>
                    <option *ngFor="let item of prefixList" [value]="item.prefixid">{{item.name}}</option>
                  </select>
                  <p *ngIf="isError(form.controls['prefixid'],'required')">**กรุณาเลือกข้อมูล</p>
                </div>
              </div><br>


              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">ชื่อ :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.firstname" name="model.firstname"
                    formControlName="firstname" autocomplete="disable" maxlength="50" (keypress)="chkName($event)">
                  <p *ngIf="isError(form.controls['firstname'],required)">**กรุณากรอกข้อมูล</p>
                </div>
                <div class="col-md-2 text-right" style="color: black;font-weight: normal">นามสกุล :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.lastname" name="model.lastname"
                    formControlName="lastname" autocomplete="disable" maxlength="50" (keypress)="chkName($event)">
                  <p *ngIf="isError(form.controls['lastname'],'required')">**กรุณากรอกข้อมูล</p>
                </div>
              </div><br>
              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">วัน/เดือน/ปีเกิด :</div>
                <div class="col-md-4">
                  <input type="date" class="form-control" [(ngModel)]="model.birthdate" name="model.birthdate"
                    formControlName="birthdate" [max]="datenow" (keyup)="chkDate()">
                  <p *ngIf="isError(form.controls['birthdate'],'required')">**กรุณาเลือกข้อมูล</p>
                  <p *ngIf="ischkdate == true">**กรุณากรอกข้อมูลให้ถูกต้อง</p>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
              </div><br>

              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">บ้านเลขที่ :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.homeno" name="model.homeno"
                    formControlName="homeno" autocomplete="disable" maxlength="10" (keypress)="chkAddress($event)">
                  <p *ngIf="isError(form.controls['homeno'],'required')">**กรุณากรอกข้อมูล</p>
                </div>
                <div class="col-2 text-right" style="color: black; font-weight: normal">หมู่ที่ :</div>
                <div class="col-4">
                  <input type="text" class="form-control" [(ngModel)]="model.moono" name="model.moono" formControlName="moono"
                    autocomplete="disable" maxlength="10" (keypress)="chkAddress($event)">
                  <p *ngIf="isError(form.controls['moono'],'required')">**กรุณากรอกข้อมูล</p>
                </div>
              </div><br>

              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">ซอย :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.soi" name="model.soi"
                  formControlName="soi" autocomplete="disable" maxlength="100" >
                  <p *ngIf="isError(form.controls['soi'],'required')">**กรุณากรอกข้อมูล</p>
                </div>
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">ถนน :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.road" name="model.road" 
                  formControlName="road" autocomplete="disable" maxlength="100" >
                  <p *ngIf="isError(form.controls['road'],'required')">**กรุณากรอกข้อมูล</p>
                </div>
              </div><br>

              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">จังหวัด :</div>
                <div class="col-md-4">
                  <select class="form-control" [(ngModel)]="model.provincecode" name="model.provincecode"
                    formControlName="provincecode" (change)="onProvinceChange()" style="padding: 5px; height: 35px;">
                    <option value="">--กรุณาเลือก--</option>
                    <option *ngFor="let item of provinceList" [value]="item.code">{{item.name}}</option>
                  </select>
                  <p *ngIf="isError(form.controls['provincecode'],'required')">**กรุณาเลือกข้อมูล</p>
                </div>
                <div class="col-md-2 text-right" style="color: black; font-weight: normal"> อำเภอ :</div>
                <div class="col-md-4">
                  <select class="form-control" [(ngModel)]="model.amphurcode" name="model.amphurcode" formControlName="amphurcode"
                    (change)="onAmphurChange()" style="padding: 5px; height: 35px;">
                    <option value="">--กรุณาเลือก--</option>
                    <option *ngFor="let item of amphurList" [value]="item.code">{{item.name}}</option>
                  </select>
                  <p *ngIf="isError(form.controls['amphurcode'],'required')">**กรุณาเลือกข้อมูล</p>
                </div>
              </div><br>

              <div class="row">
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">ตำบล :</div>
                <div class="col-md-4">
                  <select class="form-control" [(ngModel)]="model.tumbolcode" name="model.tumbolcode" formControlName="tumbolcode"
                    style="padding: 5px; height: 35px;">
                    <option value="">--กรุณาเลือก--</option>
                    <option *ngFor="let item of tumbolList" [value]="item.code">{{item.name}}</option>
                  </select>
                  <p *ngIf="isError(form.controls['tumbolcode'],'required')">**กรุณาเลือกข้อมูล</p>
                </div>
                <div class="col-md-2 text-right" style="color: black; font-weight: normal">รหัสไปรษณีย์ :</div>
                <div class="col-md-4">
                  <input type="text" class="form-control" [(ngModel)]="model.zipcode" name="model.zipcode"
                    formControlName="zipcode" maxlength="5" (keypress)="chkAddress($event)">
                  <p *ngIf="isError(form.controls['zipcode'],'required')">**กรุณากรอกข้อมูล</p>
                </div>
              </div><br>

            </form>
          </div>
        </div>
      </div>
    </div>

  <!-- </div> -->

  <div class="modal-footer" *ngIf="status == 0">
    <button type="button" class="btn btn-danger btn-sm btn-cancle" data-dismiss="modal" (click)="closeModal()">ยกเลิก</button>
    <button type="button" class="btn btn-success btn-sm btn-save" data-dismiss="modal" (click)="onSave()">บันทึก</button>
  </div>

  <div class="modal-footer" *ngIf="status == 1">
    <button type="button" class="btn btn-danger btn-sm btn-cancle" data-dismiss="modal" (click)="closeModal()">ยกเลิก</button>
    <button type="button" class="btn btn-success btn-sm btn-save" *ngIf="itab == 1" (click)="itab2(itab)">ถัดไป ></button>
    <button type="button" class="btn btn-success btn-sm btn-back" *ngIf="itab == 2" (click)="itab1(itab)">
      < ย้อนกลับ</button> <button type="button" class="btn btn-success btn-sm btn-save" *ngIf="itab==2" data-dismiss="modal"
        (click)="onSave()">บันทึก
    </button>
  </div>

  <div class="modal-footer" *ngIf="status == 2">
    <button type="button" class="btn btn-danger btn-sm btn-cancle" data-dismiss="modal" (click)="closeModal()">ยกเลิก</button>
    <button type="button" class="btn btn-success btn-sm btn-save" *ngIf="itab == 1" (click)="itab3(itab)">ถัดไป ></button>
    <button type="button" class="btn btn-success btn-sm btn-back" *ngIf="itab == 3" (click)="itab1(itab)">
      < ย้อนกลับ</button> <button type="button" class="btn btn-success btn-sm btn-save" data-dismiss="modal" *ngIf="itab == 3"
        (click)="onSaveFoster()">บันทึก
    </button>
  </div>

  <div class="modal-footer" *ngIf="status == 3">
    <button type="button" class="btn btn-danger btn-sm btn-cancle" data-dismiss="modal" (click)="closeModal()">ยกเลิก</button>
    <button type="button" class="btn btn-success btn-sm btn-save" *ngIf="itab == 1" (click)="itab4(itab)">ถัดไป ></button>
    <button type="button" class="btn btn-success btn-sm btn-back" *ngIf="itab == 4" (click)="itab1(itab)">
      < ย้อนกลับ</button> <button type="button" class="btn btn-success btn-sm btn-save" data-dismiss="modal" *ngIf="itab == 4"
        (click)="onSaveOriginalFamily()">บันทึก
    </button>
  </div>

  <div class="modal-footer" *ngIf="status == 4">
    <button type="button" class="btn btn-danger btn-sm btn-cancle" data-dismiss="modal" (click)="closeModal()">ยกเลิก</button>
    <button type="button" class="btn btn-success btn-sm btn-save" *ngIf="itab == 1" (click)="itab5(itab)">ถัดไป ></button>
    <button type="button" class="btn btn-success btn-sm btn-back" *ngIf="itab == 5" (click)="itab1(itab)">
      < ย้อนกลับ</button> <button type="button" class="btn btn-success btn-sm btn-save" data-dismiss="modal" *ngIf="itab == 5"
        (click)="onSaveFoster()">บันทึก
    </button>
  </div>




  <ng4-loading-spinner [threshold]="1" [timeout]="func.loadingTimeout()" [template]="func.loadingTemplate()"></ng4-loading-spinner>