.button-view {
  color: rgb(82, 82, 82) !important;
  font-size: 15px;
  cursor: pointer;
}
.button-view:hover {
  color: rgb(255, 204, 62) !important;
}

label {
  cursor: pointer;

}

input[type="text"] {
  padding: 5px;
  margin-bottom: 5px;
}

i {
  font-size: 15pt;
}
.isNotStatusSuccess{
  font-size: 20pt;
  color: #afacac !important;
}
.isStatusSuccess{
  font-size: 20pt;
  color: #009a31 !important;
}
.isNotStatusSuccess:hover{
  font-size: 20pt;
  color: rgb(255, 204, 62) !important;
}
.isStatusSuccess:hover{
  font-size: 20pt;
  color: rgb(255, 204, 62) !important;
}
.icon{
  font-size: 15px !important;
  color: rgb(175, 172, 172) !important;
}
.icon:hover {
  color: rgb(255, 204, 62) !important;
}
.background-card {
  background-color: rgb(240, 240, 240) !important;
}
.btn-add, .btn-search {
  background-color: rgb(30, 114, 50) !important;
}
.btn-reset {
  background-color: rgb(255, 206, 72) !important;
}
// .m{
//   margin-left: 1%;
// }