<div class="card" (keypress)="onEnter($event)">
  <div class="card-header background-card">
    รายการเด็กในโครงการอุปถัมภ์
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2 text-right"> ชื่อ-นามสกุล : </div>
      <div class="col-md-4">
        <input type="text" class="form-control" [(ngModel)]="model.fullname" maxlength="100" (keypress)="chkName($event)">
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2 text-right"> อายุ : </div>
      <div class="col-md-4">
        <div class="form-inline">
          <input type="text" class="form-control" [(ngModel)]="model.agestartorphan" style="width:40%" min="0"
            maxlength="3" (keypress)="chkAge($event)">&nbsp; ปี &nbsp; ถึง &nbsp;
          <input type="text" class="form-control" [(ngModel)]="model.ageendorphan" style="width:40%" max="100" min="0"
            maxlength="3" (keypress)="chkAge($event)">&nbsp; ปี
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <!-- <div class="row">
      <div class="col-md-4 text-right">สถานะ :</div>
      <div class="col-md-4">
        <select class="form-control" style="padding: 5px; height: 35px; width: 300px; cursor: pointer;" [(ngModel)]="model.orphanstatus">
          <option value="">--ทั้งหมด--</option>
          <option *ngFor="let item of orphanstatus" [value]="item.orphanstatusid">{{item.name}}</option>
        </select>
      </div>
      <div class="col-md-2"></div>
    </div> -->
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2 text-right"></div>
      <div class="col-md-4 text-center">
        <button class="btn btn-warning btn-sm btn-reset" (click)="onReset()">รีเซ็ต</button>
        &nbsp;
        <button class="btn btn-primary btn-sm btn-search" (click)="onSearchOrphan()">ค้นหา</button>
      </div>
      <div class="col-md-4"></div>
    </div>
    <br>
    <hr><br>
    <ng2-smart-table [settings]="tbSettings" [source]="datasource" (rowSelect)="func.setTableNumber($event)"></ng2-smart-table>
  </div>
</div>

<ng4-loading-spinner [threshold]="1" [timeout]="func.loadingTimeout()" [template]="func.loadingTemplate()"></ng4-loading-spinner>