<div class="modal-header">
  <h5>เพิ่มข้อมูลผู้ใช้งาน</h5>
  <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="closeModal()"></i></div>
</div>
<div class="modal-body">
  <div class="manageP">
    <div class="row">
        <div class="col-md-12">
          <div class="text-center">
              <img *ngIf="!imagePreView && !model.picturepath" src="assets/images/no-image-profile.png" class="image">
              <img *ngIf="model.picturepath && !imagePreView" src="{{model.picturepath}}" class="image" >
              <img *ngIf="imagePreView !== '' && imagePreView" [src]="imagePreView" class="image" >
          </div>
        </div>
      </div>
      <div class="row"> 
        <div class="col-md-4"></div>
        <div class="dw col-md-4">
              <input type="file" class="custom-file-input" id="customFile" (change)="onFileSelected($event,inputFile)" accept="image/*" #inputFile>
              <label class="fas fa-camera fa-lg" for="customFile" title="เลือกไฟล์รูปภาพ"></label>
          <div class="col-md-4"></div>  
        </div>
      </div>
      <br><br>

  <form [formGroup]="form" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-2"> <p> ชื่อ :</p>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control" [(ngModel)]="model.firstname" name="model.firstname"
          formControlName="firstname">
        <p *ngIf="isError(form.controls['firstname'])" style="color: red" class="text-left">**กรุณากรอกชื่อ</p>
      </div>
      <div class="col-md-2"><p>นามสกุล :</p>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control" [(ngModel)]="model.lastname" name="model.lastname"
          formControlName="lastname">
        <p *ngIf="isError(form.controls['lastname'])" style="color: red" class="text-left">**กรุณากรอกนามสกุล</p>
      </div>
    </div>
    <br>
    <div class="row">
      <!-- <div class="col-md-2"> <p>ชื่อเข้าใช้ :</p></div>
      <div class="col-md-4">
        <input type="text" class="form-control" [(ngModel)]="model.username" name="model.username"
          formControlName="username" maxlength="50" >
        <p *ngIf="isError(form.controls['username'])" style="color: red" class="text-left">**กรุณากรอกชื่อผู้เข้าใช้</p>
      </div> -->
      <div class="col-md-2"> <p>อีเมล :</p></div>
      <div class="col-md-4">
        <input type="text" class="form-control" (blur)="OnBlur()" [(ngModel)]="model.email" name="model.email" formControlName="email">
        <p *ngIf="isError(form.controls['email'])" style="color: red" class="text-left">**กรุณากรอกอีเมล</p>
        <p *ngIf="isDuplicate == true" style="color: red" class="text-left">**มีผู้ใช้อีเมลนี้แล้ว</p>
      </div>
      <div class="col-md-2">
        <p>รหัสผ่าน :</p>
      </div>
      <div class="col-md-4">
        <div class="inputIcon">
          <input type="text" class="form-control" [(ngModel)]="model.password" name="model.password"
            formControlName="password" (keypress)="($event)">
          <i class="fas fa-key" aria-hidden="true" (click)="Generate()"></i>
        </div>
        <p *ngIf="isError(form.controls['password'])" style="color: red" class="text-left">**กรุณากรอกรหัสผ่าน</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2"><p>เบอร์โทรศัพท์ :</p></div>
      <div class="col-md-4">
        <input type="text" class="form-control" [(ngModel)]="model.phone" name="model.phone" formControlName="phone"
          maxlength="10">
        <p *ngIf="isError(form.controls['phone'])" style="color: red" class="text-left">**กรุณากรอกเบอร์โทรศัพท์</p>
      </div>
      <div class="col-md-2">
        <p>สถานะ :</p>
      </div>
      <div class="col-md-4">
        <select class="form-control" style="padding: 5px; height: 35px; cursor: pointer;" [(ngModel)]="model.userstatusid"
          name="model.userstatusid" formControlName="userstatusid" >
          <option value="">--กรุณาเลือกสถานะการใช้งาน--</option>
          <option *ngFor="let item of userstatus" [value]="item.UserStatusID">{{item.UserStatusName}}</option>
        </select>
        <p *ngIf="isError(form.controls['userstatusid'])" style="color: red" class="text-left">**กรุณาเลือกสถานะ</p>
      </div>
    </div>
    <br>
  </form>
</div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger btn-sm btn-cancle" data-dismiss="modal"
    (click)="closeModal()">ยกเลิก</button>
  <button type="button" class="btn btn-success btn-sm btn-save" (click)="onSave()">บันทึก</button>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="func.loadingTimeout()" [template]="func.loadingTemplate()">
</ng4-loading-spinner>