<!-- Modal -->
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel"></h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-3">4.1 อาชีพ</div>
    </div>
      <br>
    <div class="row">
        <div class="col-md-1 text-left"></div>
        <div class="col-md-3 text-left">1. เกษตรกรรม</div>
        <div class="col-md-2 text-center">จำนวน</div>
        <div class="col-md-3">
          <input type="number" class="form-control">
        </div>
        <div class="col-md-2 text-center">คน</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1 text-left"></div>
        <div class="col-md-3 text-left">2. เลี้ยงสัตว์</div>
        <div class="col-md-2 text-center">จำนวน</div>
        <div class="col-md-3">
          <input type="number" class="form-control">
        </div>
        <div class="col-md-2 text-center">คน</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1 text-left"></div>
        <div class="col-md-3 text-left">3. รับจ้าง</div>
        <div class="col-md-2 text-center">จำนวน</div>
        <div class="col-md-3">
          <input type="number" class="form-control">
        </div>
        <div class="col-md-2 text-center">คน</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1 text-left"></div>
        <div class="col-md-3 text-left">4. ค้าขาย</div>
        <div class="col-md-2 text-center">จำนวน</div>
        <div class="col-md-3">
          <input type="number" class="form-control">
        </div>
        <div class="col-md-2 text-center">คน</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1 text-left"></div>
        <div class="col-md-3 text-left">5. หัตถกรรมในครัวเรือน</div>
        <div class="col-md-2 text-center">จำนวน</div>
        <div class="col-md-3">
          <input type="number" class="form-control">
        </div>
        <div class="col-md-2 text-center">คน</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1 text-left"></div>
        <div class="col-md-3 text-left">ุ6. รับราชการ</div>
        <div class="col-md-2 text-center">จำนวน</div>
        <div class="col-md-3" >
          <input type="number" class="form-control">
        </div>
        <div class="col-md-2 text-center">คน</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1 text-left"></div>
        <div class="col-md-3 text-left">7. อื่น ๆ</div>
        <div class="col-md-2 text-center">จำนวน</div>
        <div class="col-md-3">
          <input type="number" class="form-control">
        </div>
        <div class="col-md-2 text-center">คน</div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-4">4.2 รายได้เฉลี่ย</div>
    </div>
      <br>
      <div class="row">
          <div class="col-md-1 text-left"></div>
          <div class="col-md-5 text-left">1. น้อยกว่า 5,000 บาท/ปี/ครัวเรือน</div>
          <div class="col-md-1 text-left">จำนวน</div>
          <div class="col-md-2">
            <input type="number" class="form-control">
          </div>
          <div class="col-md-2 text-center">ครัวเรือน</div>
      </div>
      <br>
      <div class="row">
          <div class="col-md-1 text-left"></div>
          <div class="col-md-5 text-left">2. น้อยกว่า 5,001 - 10,000 บาท/ปี/ครัวเรือน</div>
          <div class="col-md-1 text-left">จำนวน</div>
          <div class="col-md-2">
            <input type="number" class="form-control">
          </div>
          <div class="col-md-2 text-center">ครัวเรือน</div>
      </div>
      <br>
      <div class="row">
          <div class="col-md-1 text-left"></div>
          <div class="col-md-5 text-left">3. น้อยกว่า 10,001 - 15,000 บาท/ปี/ครัวเรือน</div>
          <div class="col-md-1 text-center">จำนวน</div>
          <div class="col-md-2">
            <input type="number" class="form-control">
          </div>
          <div class="col-md-2 text-center">ครัวเรือน</div>
      </div>
      <br>
      <div class="row">
          <div class="col-md-1 text-left"></div>
          <div class="col-md-5 text-left">4. น้อยกว่า 15,001 - 20,000 บาท/ปี/ครัวเรือน</div>
          <div class="col-md-1 text-center">จำนวน</div>
          <div class="col-md-2">
            <input type="number" class="form-control">
          </div>
          <div class="col-md-2 text-center">ครัวเรือน</div>
      </div>
      <br>
      <div class="row">
          <div class="col-md-1 text-left"></div>
          <div class="col-md-5 text-left">5. มากกว่า 20,000 บาท/ปี/ครัวเรือน</div>
          <div class="col-md-1 text-center">จำนวน</div>
          <div class="col-md-2">
            <input type="number" class="form-control">
          </div>
          <div class="col-md-2 text-center">ครัวเรือน</div>
      </div>
      <br>

</div> 
  
<div class="modal-footer">
    <!-- <button type="button" class="btn btn-info" data-dismiss="modal" (click)="closeModal()">ยกเลิก</button> -->
    <!-- <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="prevModal()">< ย้อนกลับ</button> -->
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="nextModal()">บันทึก</button> -->
</div>