<!-- Modal -->
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{headerTitle}}</h5>
  <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="closeMod()"></i></div>
</div>
<div class="modal-body">
  <form [formGroup]="form" >
    <div class="form-group"><b>ก. บริเวณบ้าน</b>
      <br><br>
      <textarea class="form-control" rows="3" formControlName="environment_sub1" [(ngModel)]="model.environment_sub1" maxlength="255" (keyup)="CheckInput($event)"></textarea>
      <p *ngIf="isError(form.controls['environment_sub1'])">**กรุณากรอกข้อมูล</p>

  <br>
   <b>ข. ละเเวกบ้าน</b>
      <br><br>
      <textarea class="form-control" rows="3" formControlName="environment_sub2" [(ngModel)]="model.environment_sub2" maxlength="255" (keyup)="CheckInput($event)"></textarea>
      <p *ngIf="isError(form.controls['environment_sub2'])">**กรุณากรอกข้อมูล</p>
  </div>
  </form>
</div> 
  
<div class="modal-footer">
    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" (click)="closeModal()">ตกลง</button>
    <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal" (click)="prevModal()">< ย้อนกลับ</button>
    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="nextModal()">หน้าถัดไป ></button>
</div>