.alert-pop {
  display: none;
  position: fixed;
  background-color: #000000;
  background-position: center;
  filter: alpha(opacity=80);
  opacity: 0.6;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.alert-pop-box {
  position: fixed;
  display: none;
  background-color: #f8f8f8;
  z-index: 999999;
  min-height: 140px;
  width: 420px;
  overflow: show;
  margin: auto;
  top: 5%;
  left: 0;
  right: 0;
  border-radius: 4px;
}
.alert-pop-box > .header {
  padding: 15px;
  border-bottom: 1px solid #e7ecef;
}
.alert-pop-box > #message {
  padding: 20px;
  min-height: 80px;
}
.alert-pop-box .footer {
  text-align: right;
  min-height: 60px;
  padding: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #e7ecef;
}
.alert-pop-box .alert-pop-confirm {
  min-width: 100px;
  margin-left: 10px;
  cursor: pointer;
}
.alert-pop-box .alert-pop-cancel {
  min-width: 100px;
  margin-left: 10px;
  cursor: pointer;
}
