p{
    margin-top: 5px;
    color: red;
    font-weight: bold;
}
h5 {
    color: white !important;
}
.modal-header{
    background-color: rgb(67, 185, 94);
}
.modal-body{
    background-color: rgb(247, 245, 245);
}
.btn-save{
    background-color:  rgb(67, 185, 94) !important;
}
.btn-cancle{
    background-color: rgb(255, 206, 72) !important;
}
input[type="text"] {
    padding: 5px;
    margin-bottom: 5px;
  }
  .image{
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: rgb(250, 250, 250);
  }
  .dw{
    margin-top: -23%;
    margin-left: 78%;
  }
  .fa-camera{
    color:rgb(24, 24, 24);
  }
  .p{
      margin-bottom: 7%;
  }
  .fa-times{
    color:#fff;
  }
  .fa-times:hover{
    color:rgb(179, 0, 0);
  } 