<div class="card">
  <div class="card-header"> <h5>{{title}}</h5> </div>
  <div class="card-body">

      <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                  <div class="col-md-3 text-right"> <p>ชื่อ - นามสกุล :</p> </div>
                  <div class="col-md-3"> {{fullname}} </div>
                  <div class="col-md-2 text-right"> <p>ชื่อเล่น :</p> </div>
                  <div class="col-md-2"> {{nickname}} </div>
              </div>

              <div class="row">
                  <div class="col-md-3 text-right"><p>วัน/เดือน/ปีเกิด :</p></div>
                  <div class="col-md-3">
                    {{model.date}}&nbsp;&nbsp;{{model.month}}&nbsp;&nbsp;{{model.year}}
                  </div>
                  <div class="col-md-2 text-right"><p>อายุ :</p></div>
                  <div class="col-md-2"> {{ageorphan}} &nbsp;ปี</div>
                </div>
            
                <div class="row">
                  <div class="col-md-3 text-right"><p>สถานะ :</p></div>
                  <div class="col-md-3"> {{orphanstatusname}} </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-2"></div>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <div class="row">
                    <div class="col-md-3"><b>ค้นหา :</b></div>
                    <div class="col-md-8">
                        <select (change)="changed($event)" class="form-control" style="padding: 5px; height: 35px;cursor: pointer;">
                            <option>--กรุณาเลือกช่วงอายุ--</option>
                            <option *ngIf="IsRank1 == false && IsRank2 == true || IsRank3 == true || IsRank4 == true || IsRank5 == true"> 1-2 </option>
                            <option *ngIf="IsRank1 == false && IsRank2 == false && IsRank3 == true || IsRank4 == true || IsRank5 == true"> 2-3 </option>
                            <option *ngIf="IsRank1 == false && IsRank2 == false && IsRank3 == false && IsRank4 == true || IsRank5 == true"> 3-4 </option>
                            <option *ngIf="IsRank1 == false && IsRank2 == false && IsRank3 == false && IsRank4 == false"> 4-5 </option>

                           
                        </select>
                    </div>
                </div>  
            </div>
          </div>
        </div>

 <!-- <div class="container"> -->
    <!-- <div class="row">
      <div class="col-md-2 text-right"> <p>ชื่อ - นามสกุล :</p> </div>
      <div class="col-md-2"> {{fullname}} </div>
      <div class="col-md-2 text-right"> <p>ชื่อเล่น :</p> </div>
      <div class="col-md-2"> {{nickname}} </div>
      <div class="col-md-2 text-right"> <b>Simple Select :</b></div>
      <div class="col-md-2 form-group">
          <select (change)="changed($event)" class="form-control" style="padding: 5px; height: 35px;cursor: pointer;">
            <option>--กรุณาเลือกช่วงอายุ--</option>
            <option>Brest</option>
            <option>Grodno</option>
            <option>Mogilev</option>
          </select>
        </div> 
    </div> -->
<!-- 
    <div class="row">
      <div class="col-md-2 text-right"><p>วัน/เดือน/ปีเกิด :</p></div>
      <div class="col-md-3">
        {{model.date}}&nbsp;&nbsp;{{model.month}}&nbsp;&nbsp;{{model.year}}
      </div>
      <div class="col-md-1 text-right"><p>อายุ :</p></div>
      <div class="col-md-3"> {{ageorphan}} &nbsp;ปี</div>
    </div>

    <div class="row">
      <div class="col-md-2 text-right"><p>สถานะ :</p></div>
      <div class="col-md-3"> {{orphanstatusname}} </div>
      <div class="col-md-2"></div>
      <div class="col-md-3"></div>
    </div> -->

  <!-- </div> -->

    <div class="row">
      <div class="col-md-12 text-right">
        <a href="{{func.getHostAPI()}}report/evaluationorphan?orphanid={{orphanids}}&age={{ageorphanrank}}&traimas={{traimas}}"><button
            class="btn btn-sm btn-download">ดาวน์โหลดข้อมูลการประเมิน</button></a>

      </div>
    </div>

    <br>
    <table class="table table-bordered">
      <thead>
        <!-- จาก Database -->
        <tr>
          <th style="text-align: center;">ลำดับ</th>
          <th style="text-align: center;">ความสามารถ</th>
          <th *ngIf="traimas != 1 && traimas == 2 || traimas == 3 || traimas == 4" style="text-align: center; width: 100px">ครั้งที่
            1</th>
          <th *ngIf="traimas != 1 && traimas == 3  || traimas == 4" style="text-align: center; width: 100px">ครั้งที่ 2</th>
          <th *ngIf="traimas != 1  && traimas == 4" style="text-align: center; width: 100px">ครั้งที่ 3</th>
          <th style="text-align: center; width: 100px">ทำได้</th>
          <th style="text-align: center; width: 100px">ทำไม่ได้</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of orphanEval.evaluations; let i=index;let sub of item.subs.value;let itembf of orphanEvaluation.evaluations;let subbf of itembf.subs.value">
          <tr style="background-color: #C8C8C8">
            <td colspan="2" style="font-weight: bold; color: black;">{{i+1}} . {{item.topic_name}}</td>
            <td *ngIf="traimas != 1 && traimas == 2 || traimas == 3 || traimas == 4" style="text-align: center;">
              <!-- ทำได้ -->
            </td>
            <td *ngIf="traimas != 1 && traimas == 3  || traimas == 4" style="text-align: center;">
              <!-- ทำไม่ได้ -->
            </td>
            <td *ngIf="traimas != 1  && traimas == 4" style="text-align: center;">
              <!-- ทำไม่ได้ -->
            </td>
            <td style="text-align: center;">
              <input type="button" class="btn btn-ghose" (click)="checkCando(sub)" value="ทั้งหมด">
            </td>
            <td style="text-align: center;">
              <input type="button" class="btn btn-ghose" (click)="checkCannotdo(sub)" value="ทั้งหมด">
            </td>
          </tr>
          <tr *ngFor="let sub of item.subs; let isub = index;">
            <td style="text-align: right; color: black;">{{isub+1}}</td>
            <td style="color: black;">{{sub.sub_name}}</td>
            <td *ngIf="traimas != 1 && traimas == 2 || traimas == 3 || traimas == 4" style="text-align: center;">
              {{DidDo1[isub]}}
            </td>
            <td *ngIf="traimas != 1 && traimas == 3  || traimas == 4" style="text-align: center;">
              {{DidDo2[isub]}}
            </td>
            <td *ngIf="traimas != 1 && traimas == 4" style="text-align: center;">
              {{DidDo3[isub]}}
            </td>
            <td>
              <label class="custom-control custom-radio" style="margin-left: 50px; margin-top: 2px;">
                <input type="radio" class="custom-control-input" [(ngModel)]="sub.value" name="{{sub.sub_id}}" (click)="ChangCanDo(sub)"
                  [value]="1">
                <span class="custom-control-indicator"></span>
              </label>
            </td>
            <td>
              <label class="custom-control custom-radio" style="margin-left: 50px; margin-top: 2px;">
                <input type="radio" class="custom-control-input" [(ngModel)]="sub.value" name="{{sub.sub_id}}" (click)="ChangNotCanDo(sub)"
                  [value]="0">
                <span class="custom-control-indicator"></span>
              </label>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <button class="btn btn-warning btn-sm" (click)="onCancle()">ยกเลิก</button>&nbsp;
    <button class="btn btn-success btn-sm" (click)="onSaveEvalution()">บันทึกข้อมูล</button>&nbsp;
    <button class="btn btn-reset btn-sm" (click)="onResetEvalution()">รีเซ็ท</button>
  </div>
</div>

<ng4-loading-spinner [threshold]="1" [timeout]="func.loadingTimeout()" [template]="func.loadingTemplate()"></ng4-loading-spinner>