.header-success{
    background-color: #62cfe2;
}
.header-error{
    background-color: #fda370;
}
.modal-header{
    height: 45px;
    padding-top: 12px;
    background-color: rgb(255, 206, 72) !important;
}
.modal-body{
    min-height: 80px;
}
.modal-footer{
    height: 45px;
}
.modal-sm{
    width: 400px;
}