<!-- Modal -->
<div class="modal-header" [ngClass]="headerStyle">
 {{title}}
</div>
<div class="modal-body">
{{message}}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-success" (click)="closeModal()">ปิด</button>
</div>