<div class="modal-header">
    <h5>รายงานความก้าวหน้าของเด็กในโครงการครอบครัวอุปการะ</h5>
    <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="close()"></i></div>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <img *ngIf="!imagePreView && !model.picturepath" src="assets/images/no-image-profile.png" class="image">
                <img *ngIf="model.picturepath && !imagePreView" src="{{model.picturepath}}" class="image">
            </div>
        </div>
        <div class="col-md-8 text-right">
            <div class="row">
                <div class="col-md-5 text-left"><b>ชื่อ :</b> {{model.fullnameorphan}}</div>
                <div class="col-md-3 text-left"><b>ชื่อเล่น :</b> {{model.nicknameorphan}}</div>
            </div><br>

            <div class="row">
                <div class="col-md-8 text-left"><b>วัน/เดือน/ปีเกิด :</b> {{model.birthdate}}</div>
            </div><br>
            <div class="row">
                <div class="col-md-8 text-left"><b>อายุ :</b> {{model.ageorphan}} ปี</div>
            </div><br>

            <div class="row">
                <div class="col-md-5 text-left"><b>น้ำหนัก :</b> {{model.weight}} กิโลกรัม</div>
                <div class="col-md-4 text-left"><b>ส่วนสูง :</b> {{model.height}} เซนติเมตร</div>
            </div><br>

            <div class="row">
                <div class="col-md-5 text-left"><b>รอบศีรษะ :</b> {{model.aroundhead}} เซนติเมตร</div>
                <div class="col-md-4 text-left"><b>รอบอก :</b> {{model.chest}} เซนติเมตร</div>

            </div><br>

            <div class="row">
                <div class="col-md-8 text-left"><b>ชื่อครอบครัวอุปการะ :</b> {{model.fullnamepatron}}</div>
            </div><br>

            <div class="row">
                <div class="col-md-8 text-left"><b>วันที่มาอยู่กับครอบครัว :</b> {{model.joinfamilydate}}</div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <form [formGroup]="form">
        <div class="form-group">

            <label for="">ก. สภาพเด็กโดยทั่วไป และการเปลี่ยนแปลงที่ผ่านมา</label>
            <textarea class="form-control" disabled="true" rows="4" formControlName="pastchanges" [(ngModel)]="model.pastchanges"
                maxlength="255"></textarea>

            <br>
            <label for="">ข. การรับประทานอาหาร</label>
            <textarea class="form-control" disabled="true" rows="4" formControlName="eat" [(ngModel)]="model.eat"
                maxlength="255"></textarea>

            <br>
            <label for="">ค. การนอน</label>
            <textarea class="form-control" disabled="true" rows="4" formControlName="sleep" [(ngModel)]="model.sleep"
                maxlength="255"></textarea>

            <br>
            <label for="">ง. การขับถ่าย</label>
            <textarea class="form-control" disabled="true" rows="4" formControlName="excretion" [(ngModel)]="model.excretion"
                maxlength="255"></textarea>

            <br>
            <label for="">จ. อุปนิสัยและลักษณะทั่วไป</label>
            <textarea class="form-control" disabled="true" rows="4" formControlName="characters" [(ngModel)]="model.characters"
                maxlength="255"></textarea>

        </div>
    </form>



</div>


<!-- <div class="modal-footer">
    <button class="btn btn-cancle btn-sm" (click)="close()">ปิด</button>
    <button class="btn btn-save btn-sm" (click)="onSave()">บันทึก</button>
</div> -->