p{
    margin-top: 5px;
    color: red;
    font-weight: bold;
}
h5 {
    color: white !important;
}
.fa-times{
    color:#fff;
  }
  .fa-times:hover{
    color:rgb(179, 0, 0);
  }
.modal-header{
    background-color: rgb(67, 185, 94);
}
.modal-body{
    background-color: rgb(247, 245, 245);
}
.btn-save{
    background-color:  rgb(67, 185, 94) !important;
}
.btn-cancle{
    background-color: rgb(255, 206, 72) !important;
}
.image{
    width: 180px;
    height: 180px;
    // border: 3px solid #fff;
    border-radius: 50%;
    background-color: rgb(250, 250, 250);
    box-shadow: 5px 5px 15px 2px rgba(50, 50, 50, .3);
  }
.weight{
    font-weight: bold;
}