<div class="modal-header">
    <h5>แก้ไขข้อมูลส่วนตัว</h5>
    <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="closeModal()"></i></div>
</div>

<div class="modal-body">
  <form [formGroup]="form">
    
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3 text-right">
      <p>ชื่อ :</p>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" [(ngModel)]="modelform.firstname" formControlName="firstname" name="modelform.firstname"
      maxlength="50" (keypress)="chkChar($event)" autocomplete="off">
      <p *ngIf="isError(form.controls['firstname'])" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
    </div>
    <div class="col-md-3"></div>
  </div><br>

  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3 text-right">
        <p>นามสกุล :</p>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control" [(ngModel)]="modelform.lastname" formControlName="lastname" name="modelform.lastname"
        maxlength="50" (keypress)="chkChar($event)" autocomplete="off">
        <p *ngIf="isError(form.controls['lastname'])" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
      </div>
      <div class="col-md-3"></div>
    </div><br>

  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3 text-right">
    <p>อีเมล :</p>
      </div>
  <div class="col-md-4">
  <input type="email" class="form-control" [(ngModel)]="modelform.email" name="modelform.email"
  formControlName="email" maxlength="50" (keypress)="chkChar($event)" autocomplete="off">
  <p *ngIf="isError(form.controls['email'])" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
  </div>
  <div class="col-md-3"></div>
  </div><br>

  <div class="  row">
      <div class="col-md-2"></div>
      <div class="col-md-3 text-right">
    <p>เบอร์โทรศัพท์ :</p>
      </div>
  <div class="col-md-4">
  <input type="text" class="form-control" [(ngModel)]="modelform.phone" name="modelform.phone"
  formControlName="phone" maxlength="10" (keypress)="chkNum($event)" autocomplete="off">
  <p *ngIf="isError(form.controls['phone'])" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
  </div>
  <div class="col-md-3"></div>
</div><br>
</form>
</div>

<div class="modal-footer">
<button class="btn btn-cancle btn-sm" (click)="close()">ยกเลิก</button>
<button class="btn btn-save btn-sm" (click)="save()">บันทึก</button>
</div>