<div class="modal-header">
    <h5>ข้อมูลผู้ใช้งาน</h5>
    <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="close()"></i></div>
  </div>
  
  <div class="modal-body">
      <div class="container">
          <div class="detail">    
          <div class="row pct">
            <div class="col-md-4">
                <img *ngIf="!imagePreView && !model.picturepath" src="assets/images/no-image-profile.png" class="image" >
                <img *ngIf="model.picturepath && !imagePreView" src="{{model.picturepath}}" class="image" >
                <img *ngIf="imagePreView !== '' && imagePreView" [src]="imagePreView" class="image" >
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4 text-right weight"></div>
                    <div class="col-md-4 "></div>
                  </div>
                  <br>
                <div class="row">
                    <div class="col-md-4 text-right weight">ชื่อ-นามสกุล :</div>
                    <div class="col-md-5 ">{{model.fullname}}</div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4 text-right weight">อีเมล :</div>
                    <div class="col-md-4 ">{{model.email}}</div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4 text-right weight">รหัสผ่าน :</div>
                    <div class="col-md-4 ">{{model.password}}</div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4 text-right weight">เบอร์โทรศัพท์ :</div>
                    <div class="col-md-4 ">{{model.phone}}</div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4 text-right weight">สถานะ :</div>
                    <div class="col-md-4">{{model.userstatusname}}</div>
                  </div>
            </div>
          </div>
          </div>
        </div>




    <!-- <div class="detail">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
          <div class="text-center">
              <img *ngIf="!imagePreView && !model.picturepath" src="assets/images/no-image-profile.png" class="image" >
              <img *ngIf="model.picturepath && !imagePreView" src="{{model.picturepath}}" class="image" >
              <img *ngIf="imagePreView !== '' && imagePreView" [src]="imagePreView" class="image" >
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-3"></div>
        </div>
      </div><br>
  
      <div class="row">
        <div class="col-md-3 text-right weight">ชื่อ-นามสกุล :</div>
        <div class="col-md-4 ">{{model.fullname}}</div>
        <div class="col-md-2 text-right weight"></div>
        <div class="col-md-3"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3 text-right weight">อีเมล :</div>
        <div class="col-md-4">{{model.email}}</div>
        <div class="col-md-2 text-right weight"></div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3 text-right weight">รหัสผ่าน :</div>
        <div class="col-md-4">{{model.password}}</div>
        <div class="col-md-2 text-right weight"></div>
        <div class="col-md-3"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3 text-right weight">เบอร์โทรศัพท์ :</div>
        <div class="col-md-4">{{model.phone}}</div>
        <div class="col-md-2 text-right weight"></div>
        <div class="col-md-3"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3 text-right weight">สถานะ :</div>
        <div class="col-md-4">{{model.userstatusname}}</div>
        <div class="col-md-2 text-right weight"></div>
        <div class="col-md-3"></div>
      </div>
      <br>
    </div> -->
  </div>
