<div class="modal-header">
  <h5>จัดการข้อมูลส่วนตัว</h5><br>
</div>

<div class="modal-body">
  <div class="row">
    <div class=
    <div class="col-md-6 text-right">ชื่อ-นามสกุล : </div>
    <div class="col-md-6">{{model.firstname}} {{model.lastname}}</div>
  </div><br>

  <div class="row">
    <div class="col-md-6 text-right">อีเมล : </div>
    <div class="col-md-3">{{model.email}}</div>
  </div><br>

  <div class="row">
    <div class="col-md-6 text-right">เบอร์โทรศัพท์ :</div>
    <div class="col-md-3 ">{{model.phone}}</div>
  </div><br>
  <br>

  <div class="row" >
    <div class="col-md-4"></div>
    <button type="button" class="btn btn-editprofile btn-sm" (click)="editprofile()">แก้ไขข้อมูลส่วนตัว</button>&nbsp; &nbsp;
    <button type="button" class="btn btn-changepassword btn-sm" (click)="changepassword()" >เปลี่ยนรหัสผ่าน</button>
  </div>
  
</div>

<div class="modal-footer">
  <button class="btn btn-cancle btn-sm" (click)="close()">ปิด</button>
</div>