h5 {
    color: white !important;
}
.modal-header{
    background-color: rgb(67, 185, 94);
}
.modal-body{
    background-color: rgb(247, 245, 245);
}
.btn-cancle{
    background-color: rgb(255, 206, 72) !important;
}
.btn-save{
    background-color: rgb(30, 114, 50) !important;
}
.btn-editprofile{
    background-color: rgb(67, 185, 94) !important;;
}
.btn-changepassword{
    background-color: rgb(67, 185, 94) !important;
}
.fa-times{
    color:#fff;
  }
  .fa-times:hover{
    color:rgb(179, 0, 0);
  }