<body>
    <div class="login-page">
        <div class="form">
            <div class="login-form" (keypress)="onEnter($event)">
                <img src="../../../assets/images/BBLove1.png" style="width: 50%; margin-left:-3%;"><br><br>
                <input type="text" class="form-control" placeholder="username" [(ngModel)]="username"/>
                <input type="password" class="form-control" placeholder="password" [(ngModel)]="password" />
                <button (click)="onSubmit()">เข้าสู่ระบบ</button>
            </div>
        </div>
    </div>
</body>



<!-- <body>
    <div class="d-flex">
        <div class="m-auto">
            <div class="login-form">
                <div class="form-group">
                    <label for="username">ชื่อผู้ใช้</label>
                    <input type="text" [(ngModel)]="username" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="password">รหัสผ่าน</label>
                    <input type="password" [(ngModel)]="password" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" (click)="onSubmit()">เข้าสู่ระบบ</button>
                </div>
            </div>
        </div>
    </div>
</body> -->
<ng4-loading-spinner [threshold]="1" [timeout]="func.loadingTimeout()" [template]="func.loadingTemplate()"></ng4-loading-spinner>