<!-- Modal -->
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{headerTitle}}</h5>
  <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="closeMod()"></i></div>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group"><b>ข้อเสนอแนะ</b>
      <br><br>
      <textarea class="form-control" formControlName="comment" [(ngModel)]="model.comment" name="model.comment" maxlength="500" (keyup)="CheckInput($event)"></textarea>
      <p *ngIf="isError(form.controls['comment'])">**กรุณากรอกข้อมูล</p>
    </div>

  </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" (click)="closeModal()">ตกลง</button>
    <button type="button" class="btn btn-warning btn-sm" (click)="prevModal()">< ย้อนกลับ</button>
    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="nextModal()">บันทึก</button>
</div>