<div class="card">
  <div class="card-header">
    เพิ่มข้อมูลชุมชน
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 text-right">
        <button class="btn btn-sm btn-success" (click)="onDownloademptyform()">ดาวน์โหลดแบบฟอร์ม</button>
        &nbsp;&nbsp;
        <button class="btn btn-sm btn-success" (click)="onViewreport()">ดูข้อมูล</button>
      </div>
    </div>
    <br>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th class="text-center" width="80">สถานะ</th>
          <th class="text-center">รายการ</th>
          <th class="text-center" width="120">จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of modalComponents; let i = index" >
          <td class="text-center"><i *ngIf="isCompleted(i)" class="fa fa-check-square-o status-completed" aria-hidden="true"></i><i *ngIf="!isCompleted(i)" class="fa fa-square-o status-uncomplete" aria-hidden="true"></i>
          </td>
          <td class="text-left" [ngClass]='cssCompleted(i)' scope="row" (click)="onShowForms(i);" >{{(i+1) + '. '+item.title}}</td>
          <td class="text-center" ><a class="link" (click)="onShowForms(i);">เพิ่มข้อมูล</a></td>
        </tr>
      </tbody>
    </table>
    <div class="card-footer text-center">
      <button class="btn btn-sm btn-warning">ยกเลิก</button> &nbsp;&nbsp; <button class="btn btn-sm btn-primary" (click)="onSave();">บันทึกข้อมูล</button>
    </div>
  </div>

</div>