<!-- Modal -->
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel"></h5>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-2 text-right">จำนวนครัวเรือน :</div>
    <div class="col-md-3">
      <input type="number" class="form-control">
    </div>
    <div class="col-md-2 text-left">ครัวเรือน</div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-2 text-right">จำนวนประชากรทั้งหมด :</div>
    <div class="col-md-3">
      <input type="number" class="form-control">
    </div>
    <div class="col-md-1">ชาย :</div>
    <div class="col-md-2">
      <input type="number" class="form-control">
    </div>
    <div class="col-md-1">หญิง :</div>
    <div class="col-md-2">
      <input type="number" class="form-control">
    </div>
  </div>
  <br>
  <hr><br>

  <div class="row">
    <div class="col-md-4 text-right">จำนวนกลุ่มชาติพันธุ์ที่พบในหมู่บ้าน :</div>
    <div class="col-md-3">
      <select class="form-control" [(ngModel)]="memberCount" (change)="onMembercountChange();">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
    <div class="col-md-2 text-left">กลุ่ม</div>
  </div>
  <br>

  <div *ngFor="let item of model;let index = index">
    <div class="row">
      <div class="col-md-3 text-right">ลำดับ:</div>
      <div class="col-md-8">{{index+1}}</div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3 text-right">ชาติพันธุ์ :</div>
      <div class="col-md-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-3 text-right">
        <p>อพยพมาจาก :</p>
        <p>(จังหวัด/อาเภอ/หมู่บ้าน)</p>
      </div>
      <div class="col-md-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-3 text-right">ร้อยละ :</div>
      <div class="col-md-3">
        <input type="number" class="form-control">
      </div>
      <div class="col-md-2 text-right">ปี พ.ศ.ที่ย้ายมาตั้งถิ่นฐาน :</div>
      <div class="col-md-3">
        <input type="number" class="form-control">
      </div>
    </div>
    <br>
  </div><br>
  <hr>
  <br>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">การศึกษา</div>
    <div class="col-md-3 text-center">จำนวน(คน)</div>
    <div class="col-md-3 text-center">ร้อยละ</div>
    <div class="col-md-1"></div>
  </div>
  <br>

  <div *ngFor="let item of modalEducation; let i = index">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">{{(i+1) + '. '+item.title}}</div>
      <div class="col-md-3">
        <input type="number" class="form-control">
      </div>
      <div class="col-md-3">
        <input type="number" class="form-control">
      </div>
      <div class="col-md-1"></div>
    </div>
    <br>
  </div>
  <hr>
  <br>

  <div class="row">
    <div class="col-md-12">
      ระดับอายุของราษฏรในหมู่บ้าน / ชุมชน
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">ช่วงอายุ</div>
    <div class="col-md-3 text-center">จำนวน(คน)</div>
    <div class="col-md-3 text-center">ร้อยละ</div>
    <div class="col-md-1"></div>
  </div>
  <br>
  <div *ngFor="let item of modalAge; let i = index">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">{{(i+1) + '. '+item.title}}</div>
      <div class="col-md-3">
        <input type="number" class="form-control">
      </div>
      <div class="col-md-3">
        <input type="number" class="form-control">
      </div>
      <div class="col-md-1"></div>
    </div>
    <br>
  </div>
  <hr>
  <br>

  <div class="row">
    <div class="col-md-12">
      ลักษณะกลุ่มบุคคลต่างๆในหมู่บ้าน / ชุมชน
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">ตาแหน่ง/สถานะ</div>
    <div class="col-md-3 text-center">จำนวน(คน)</div>
    <div class="col-md-3 text-center">ร้อยละ</div>
    <div class="col-md-1"></div>
  </div>
  <br>
  <div *ngFor="let item of modalGroup; let i = index">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">{{(i+1) + '. '+item.title}}</div>
      <div class="col-md-3">
        <input type="number" class="form-control">
      </div>
      <div class="col-md-3">
        <input type="number" class="form-control">
      </div>
      <div class="col-md-1"></div>
    </div>
    <br>
  </div>
  <hr>
  <br>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-info" data-dismiss="modal" (click)="closeModal()">ยกเลิก</button>
  <button type="button" class="btn btn-warning" data-dismiss="modal">< ย้อนกลับ</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal">หน้าถัดไป ></button>
</div>