<!-- Modal -->
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel"></h5>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-right">
        <label>ชื่อหมู่บ้าน/ชุมชน:</label>
      </div>
      <div class="col-md-7">
        <input type="text" class="form-control">
      </div>
    </div><br>
    <div class="row">
      <div class="col-md-3 text-right">
        <label>ที่ตั้งหมู่บ้าน/ชุมชน:</label>
      </div>
      <div class="col-md-9">
        <textarea rows="3" class="form-control"></textarea>
      </div>
    </div><br>
    <div class="row">
      <div class="col-md-3 text-right">
        <label>ขอบเขตหมู่บ้าน/ชุมชน:</label>
      </div>
      <div class="col-md-9">
          <textarea rows="3" class="form-control"></textarea>
      </div>
    </div><br>
    <div class="row">
      <div class="col-md-3 text-right">
        <label>แผนที่หมู่บ้าน/ชุมชน:</label>
      </div>
    </div><br>
    <div class="row">
      <div class="col-md-10">
        
      </div>
    </div>  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" (click)="closeModal()">ยกเลิก</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal">หน้าถัดไป ></button>
  </div>
</div>