<div class="modal-header">
  <h5>{{title}}</h5>
  <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="closeMod()"></i></div>

</div>
<div class="modal-body">

  <div class="mt-3">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs underline" *ngIf="itab==1">
      <li class="nav-item">
        <a class="nav-link active shoose" data-toggle="tab" href="#tab1" (click)="tab1(itab)">ข้อมูลส่วนตัว</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab2" (click)="tab2(itab)">ที่อยู่</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab3" (click)="tab3(itab)">เลือกเด็กในการอุปถัมภ์</a>
      </li>
    </ul>

    <ul class="nav nav-tabs underline" *ngIf="itab==2">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab1" (click)="tab1(itab)">ข้อมูลส่วนตัว</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active shoose" data-toggle="tab" href="#tab2" (click)="tab2(itab)">ที่อยู่</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab3" (click)="tab3(itab)">เลือกเด็กในการอุปถัมภ์</a>
      </li>
    </ul>

    <ul class="nav nav-tabs underline" *ngIf="itab==3">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab1" (click)="tab1(itab)">ข้อมูลส่วนตัว</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab2" (click)="tab2(itab)">ที่อยู่</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active shoose" data-toggle="tab" href="#tab3" (click)="tab3(itab)">เลือกเด็กในการอุปถัมภ์</a>
      </li>
    </ul>

    <!-- Tab panes1 -->
    <div class="tab-content" *ngIf="itab==1">
      <div id="tab1" class="tab-pane active"><br>
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
                <img *ngIf="!imagePreView && !model.picturepath" src="assets/images/no-image-profile.png" class="image">
                <img *ngIf="model.picturepath && !imagePreView" src="{{model.picturepath}}" class="image" >
                <img *ngIf="imagePreView !== '' && imagePreView" [src]="imagePreView" class="image" >
            </div>
          </div>
        </div>
        <div class="row"> 
          <div class="col-md-4"></div>
          <div class="dw col-md-4">
                <input type="file" class="custom-file-input" id="customFile" (change)="onFileSelected($event,inputFile)" accept="image/*" 
                (change)="chkValidForm()" #inputFile>
                <label class="fas fa-camera fa-lg" for="customFile" title="เลือกไฟล์รูปภาพ"></label>
            <div class="col-md-4"></div>  
          </div>
        </div>
        <br><br>
        <form [formGroup]="form">
          <div class="row">
            <div class="col-md-2 text-right"><b>เลขบัตรประจำตัวประชาชน :</b></div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="model.citizenid" (blur)="onBlur()" name="model.citizenid"
                formControlName="citizenid" maxlength="13" minlength="13" placeholder="เลขประจำตัวประชาชน 13 หลัก"
                (keyup)="chkValidForm()" (keypress)="chkChar($event)" (keyup)="CheckInput($event)">
              <p *ngIf="isError(form.controls['citizenid'],'required' )">**กรุณากรอกข้อมูล</p>
              <p *ngIf="isDuplicate == true">เลขประจำตัวประชาชนซ้ำ</p>
            </div>
            <div class="col-md-2"></div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right"><b>เพศ :</b></div>
            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="model.genderid" name="model.genderid" formControlName="genderid"
                (change)="setPrefix()" (change)="chkValidForm() " style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of genderList" [value]="item.genderid">{{item.gendername}}</option>
              </select>
              <p *ngIf="isError(form.controls['genderid'],'required')">**กรุณาเลือกข้อมูล</p>
            </div>
            <div class="col-md-2 text-right"><b>คำนำหน้า :</b></div>
            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="model.prefixid" name="model.prefixid" formControlName="prefixid"
                (change)="chkValidForm()" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of prefixList" [value]="item.prefixid">{{item.name}}</option>
              </select>
              <p *ngIf="isError(form.controls['prefixid'],'required')">**กรุณาเลือกข้อมูล</p>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right"><b>ชื่อ :</b></div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="model.firstname" name="model.firstname"
                formControlName="firstname" autocomplete="disable" maxlength="50" (keyup)="chkValidForm()" (keypress)="chkNum($event)" (keyup)="CheckInput($event)" (keypress)="chkSpacebar($event)">
              <p *ngIf="isError(form.controls['firstname'],required)">**กรุณากรอกข้อมูล</p>
            </div>
            <div class="col-md-2 text-right"><b>นามสกุล :</b></div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="model.lastname" name="model.lastname"
                formControlName="lastname" autocomplete="disable" maxlength="50" (keyup)="chkValidForm()" (keypress)="chkNum($event)" (keyup)="CheckInput($event)" (keypress)="chkSpacebar($event)">
              <p *ngIf="isError(form.controls['lastname'],'required')">**กรุณากรอกข้อมูล</p>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right"><b>ชื่อเล่น :</b></div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="model.nickname" name="model.nickname"
                formControlName="nickname" maxlength="50" (keyup)="chkValidForm()" (keypress)="chkNum($event)" (keyup)="CheckInput($event)">
              <p *ngIf="isError(form.controls['nickname'],'required')">**กรุณากรอกข้อมูล</p>
            </div>
            <div class="col-md-2 text-right"><b>วัน/เดือน/ปีเกิด :</b></div>
            <div class="col-md-4">
              <input type="date" class="form-control" [(ngModel)]="model.birthdate" name="model.birthdate"
                formControlName="birthdate" [max]="datenow" (change)="chkValidForm()" (keyup)="chkDate()">
              <p *ngIf="isError(form.controls['birthdate'],'required')">**กรุณาเลือกข้อมูล</p>
              <p *ngIf="ischkdate == true">**กรุณากรอกข้อมูลให้ถูกต้อง</p>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right"><b>สัญชาติ :</b></div>
            <div class="col-md-4">
              <select type="text" class="form-control" [(ngModel)]="model.nationcode" name="model.nationcode"
                formControlName="nationcode" (change)="chkValidForm()" style="padding: 5px; height: 35px;" (chage)="CheckInput($event)">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of nationalityList" [value]="item.code">{{item.name}}</option>
              </select>
              <p *ngIf="isError(form.controls['nationcode'],'required')">**กรุณาเลือกข้อมูล</p>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right"><b>เชื้อชาติ :</b></div>
            <div class="col-md-4">
              <select type="text" class="form-control" [(ngModel)]="model.racecode" name="modal.racecode"
                formControlName="racecode" (change)="chkValidForm()" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of raceList" [value]="item.code">{{item.name}}</option>
              </select>
              <p *ngIf="isError(form.controls['racecode'],'required')">**กรุณาเลือกข้อมูล</p>
            </div>
            <div class="col-md-2 text-right"><b>ศาสนา :</b></div>
            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="model.religioncode" name="model.religioncode" formControlName="religioncode"
                (change)="chkValidForm()" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of religionList" [value]="item.code">{{item.name}}</option>
              </select>
              <p *ngIf="isError(form.controls['religioncode'],'required')">**กรุณาเลือกข้อมูล</p>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-2 text-right"><b>อาชีพ :</b></div>
            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="model.occupcode" name="model.occupcode" formControlName="occupcode"
                (change)="chkValidForm()" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of occupationList" [value]="item.code">{{item.name}}</option>
              </select>
              <p *ngIf="isError(form.controls['occupcode'],'required')">**กรุณากรอกข้อมูล</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4"></div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right"><b>ระดับการศึกษา :</b></div>
            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="model.educationcode" name="model.educationcode" formControlName="educationcode"
                (change)="chkValidForm()" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                <option value="" selected hidden>--กรุณาเลือก--</option>
                <option *ngFor="let item of educaionList" [value]="item.code">{{item.name}}</option>
              </select>
              <p *ngIf="isError(form.controls['educationcode'],'required')">**กรุณากรอกข้อมูล</p>
            </div>
            <div class="col-md-2 text-right"><b>ชื่อสถานศึกษา :</b></div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="model.schoolname" name="model.schoolname"
                formControlName="schoolname" autocomplete="disable" maxlength="150" (keyup)="chkValidForm()" (keyup)="CheckInput($event)">
              <p *ngIf="isError(form.controls['schoolname'],'required')">**กรุณากรอกข้อมูล</p>
            </div>
          </div><br>
        </form>
      </div>
    </div>

    <!-- Tab panes2 -->
    <div class="tab-content" *ngIf="itab==2">
      <div id="tab2" class="container tab-pane active"><br>
        <form [formGroup]="form">
          <div class="row">
            <div class="col-md-2 text-right"><b>บ้านเลขที่ :</b></div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="model.homeno" name="model.homeno" formControlName="homeno"
                autocomplete="disable" maxlength="10" (keyup)="chkValidForm()" (keypress)="chkAddress($event)" (keyup)="CheckInput($event)">
              <p *ngIf="isError(form.controls['homeno'],'required')">**กรุณากรอกข้อมูล</p>
            </div>
            <div class="col-md-2 text-right"><b>หมู่ที่ :</b></div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="model.moono" name="model.moono" formControlName="moono"
                autocomplete="disable" maxlength="10" (keyup)="chkValidForm()" (keypress)="chkAddress($event)" (keyup)="CheckInput($event)">
              <p *ngIf="isError(form.controls['moono'],'required')">**กรุณากรอกข้อมูล</p>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right"><b>ซอย :</b></div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="model.soi" name="model.soi" formControlName="soi"
                autocomplete="disable" maxlength="100" (keyup)="chkValidForm()" (keyup)="CheckInput($event)">
              <p *ngIf="isError(form.controls['soi'],'required')">**กรุณากรอกข้อมูล</p>
            </div>
            <div class="col-md-2 text-right"><b>ถนน :</b></div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="model.road" name="model.road" formControlName="road"
                autocomplete="disable" maxlength="100" (keyup)="chkValidForm()" (keyup)="CheckInput($event)">
              <p *ngIf="isError(form.controls['road'],'required')">**กรุณากรอกข้อมูล</p>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right"><b>จังหวัด :</b></div>
            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="model.provincecode" name="model.provincecode" formControlName="provincecode"
                (change)="onProvinceChange()" (change)="chkValidForm()" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of provinceList" [value]="item.code">{{item.name}}</option>
              </select>
              <p *ngIf="isError(form.controls['provincecode'],'required')">**กรุณาเลือกข้อมูล</p>
            </div>
            <div class="col-md-2 text-right"><b>อำเภอ :</b></div>
            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="model.amphurcode" name="model.amphurcode" formControlName="amphurcode"
                (change)="onAmphurChange()" (change)="chkValidForm()" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of amphurList" [value]="item.code">{{item.name}}</option>
              </select>
              <p *ngIf="isError(form.controls['amphurcode'],'required')">**กรุณาเลือกข้อมูล</p>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right"><b>ตำบล :</b></div>
            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="model.tumbolcode" name="model.tumbolcode" formControlName="tumbolcode"
                (change)="chkValidForm()" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of tumbolList" [value]="item.code">{{item.name}}</option>
              </select>
              <p *ngIf="isError(form.controls['tumbolcode'],'required')">**กรุณาเลือกข้อมูล</p>
            </div>
            <div class="col-md-2 text-right"><b>รหัสไปรษณีย์ :</b></div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="model.zipcode" name="model.zipcode" formControlName="zipcode"
                maxlength="5" (keyup)="chkValidForm()" (keypress)="chkChar($event)" (keyup)="CheckInput($event)">
              <p *ngIf="isError(form.controls['zipcode'],'required')">**กรุณากรอกข้อมูล</p>
            </div>
          </div><br>
        </form>
      </div>
    </div>

    <!-- Tab panes3 -->
    <div class="tab-content" *ngIf="itab==3">
      <div id="tab3" class="container tab-pane active"><br>
        <div *ngIf="!model.fullnameorphan">
          <div class="form-inline">
            <label for="">ชื่อ เด็กในการอุปถัมภ์ : &nbsp;</label>
            <input type="text" class="form-control" style="width: 150px; padding: 5px; height: 35px;" [(ngModel)]="model.searchnameorphan"
              maxlength="100" (keypress)="onEnter($event)" (keypress)="chkNum($event)">&nbsp;
            <button class="btn btn-danger btn-sm" (click)="onReset()">รีเซ็ท</button>&nbsp;
            <button class="btn btn-success btn-sm" (click)="onSearchOrphan()">ค้นหา</button>
          </div><br>
          <ng2-smart-table [settings]="tbSettings" [source]="datasource" (rowSelect)="func.setTableNumber($event)"></ng2-smart-table><br>
        </div>

        <div *ngIf="model.fullnameorphan">
          <div class="container">
            <br>
            <h3>รายละเอียดเด็กในการอุปถัมภ์</h3><br>
            <div class="orphanselect">
              <!-- <div class="row text-right"> -->
                <div class="text-right">              
                    <i class="fas fa-times-circle position" (click)="onCancelOrphan()" title="ยกเลิกการอุปถัมภ์"></i>               
                </div>
              <!-- </div> -->
              <div class="row">
                <div class="col-md-3 text-right weight">ชื่อ - นามสกุล : </div>
                <div class="col-md-4 text-left">{{model.fullnameorphan}}</div>
                <div class="col-md-2 text-right weight">ชื่อเล่น : </div>
                <div class="col-md-3 text-left">{{model.nicknameorphan}}</div>
              </div><br>
              <div class="row">
                <div class="col-md-3 text-right weight">วัน/เดือน/ปีเกิด : </div>
                <div class="col-md-4">{{birthdateOrphan}}</div>
                <div class="col-md-2 text-right weight">อายุ : </div>
                <div class="col-md-3">{{model.ageorphan}} (ปี.เดือน)</div>
              </div><br>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
                <div class="col-md-2"></div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal-footer" *ngIf="itab==1">
  <button class="btn btn-danger btn-sm" (click)="onCancel(itab)">ยกเลิก</button>
  <button class="btn btn-success btn-sm" (click)="tab2(itab)">หน้าถัดไป ></button>
</div>
<div class="modal-footer" *ngIf="itab==2">
  <button class="btn btn-danger btn-sm" (click)="onCancel(itab)">ยกเลิก</button>
  <button class="btn btn-warning btn-sm" (click)="tab1(itab)">
    < ย้อนกลับ</button> <button class="btn btn-success btn-sm" (click)="tab3(itab)">หน้าถัดไป >
  </button>
</div>
<div class="modal-footer" *ngIf="itab==3">
  <button class="btn btn-danger btn-sm" (click)="onCancel(itab)">ยกเลิก</button>
  <button class="btn btn-warning btn-sm" (click)="tab2(itab)">
    < ย้อนกลับ</button> <button class="btn btn-success btn-sm" (click)="onSavePatron(chkForm)">บันทึก
  </button>
</div>

<ng4-loading-spinner [threshold]="1" [timeout]="func.loadingTimeout()" [template]="func.loadingTemplate()"></ng4-loading-spinner>