p {
  margin-top: 5px;
  color: red;
  font-weight: bold;
}
input[type="radio"] {
  cursor: pointer;
}
.underline {
  border-bottom: 1px solid rgb(67, 185, 94);
}
.nav-link {
  color: black;
}
.nav-link:hover {
  color: black;
  border: 1px solid rgb(67, 185, 94);
  border-bottom-color: rgb(247, 245, 245);
}
.shoose {
  color: rgb(9, 114, 35) !important;
  font-weight: bold;
  border-color: rgb(67, 185, 94) !important;
  border-bottom-color: rgb(247, 245, 245) !important;
  background-color: rgb(247, 245, 245) !important;
}
.iselect {
  font-size: 25pt;
  color: rgb(255, 255, 255);
}
.iselect:hover {
  font-size: 25pt;
  color: rgb(67, 179, 207);
}
.orphanselect {
  // padding: 20px;
  border-radius: 10px;
  background-color: #def3f4;
}
.weight{
  font-weight: bold;
}
.iunselect {
  
  font-size: 25pt;
  color: white;
}
.fa-times{
  margin-right: -25%;
  color:#fff;
}
.fa-times:hover{
  color:rgb(179, 0, 0);
}
// .iunselect:hover {
//   font-size: 25pt;
//   color: #f87272;
// }
// .divunselect {
//   float: right;
//   margin-right: -36px;
//   margin-top: -37px;
//   text-decoration: none;
//   display: inline-block;
//   background-color: #f87272;
//   border-radius: 50%;
//   width: 35px;
//   height: 35px;
// }
// .divunselect:hover {
//   float: right;
//   margin-right: -36px;
//   margin-top: -37px;
//   text-decoration: none;
//   display: inline-block;
//   background-color: #ff1414;
//   border-radius: 50%;
//   width: 35px;
//   height: 35px;
// }
.position {
  margin-right: -5px;
  margin-top: -5px;
  color: #f87272 !important;
  font-size: 19pt;
}
.position:hover {
  margin-right: -5px;
  margin-top: -5px;
  color: #ff1414 !important;
  font-size: 19pt;
}
.modal-header,
.btn-success {
  background-color: rgb(67, 185, 94) !important;
}
.btn-danger {
  background-color: rgb(255, 206, 72) !important;
}
.btn-warning {
  background-color: rgb(42, 114, 182) !important;
}
.modal-body {
  background-color: rgb(247, 245, 245) !important;
}
h5 {
  color: white !important;
}
select{
  cursor: pointer;
}
input[type="text"],[type="date"]{
  padding: 5px;
  margin-bottom: 5px;
}
.image{
  width: 200px;
  height: 200px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: rgb(250, 250, 250);
}
.dw{
  margin-top: -9%;
  margin-left: 21%;
}
.fa-camera{
  color:rgb(24, 24, 24);
}