.modal-header{
    background-color: rgb(67, 185, 94);
}
h5{
    color: white 
}
.btn-cancle{
    background-color: rgb(255, 206, 72) !important;
}
.modal-body {
    background-color: rgb(247, 245, 245);
  }
.detailpatron {
    padding: 20px ;
    border-radius: 20px;
    color: black;
    // font-weight: bold;
    background-color: #def3f4;
}
.weight{
    font-weight: bold;
}
.image{
    width: 180px;
    height: 180px;
    // border: 3px solid #fff;
    border-radius: 50%;
    background-color: rgb(250, 250, 250);
    box-shadow: 5px 5px 15px 2px rgba(50, 50, 50, .3);
  }
  .fa-times{
    margin-right: -25%;
    color:#fff;
  }
  .fa-times:hover{
    color:rgb(179, 0, 0);
  }