<div class="modal-header">
  <h5>ข้อมูลผู้อุปถัมภ์</h5>
  <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="close()"></i></div>
</div>

<div class="modal-body">
  <div class="detailpatron">
    <div class="row">
      <div class="col-md-3"></div>
      <!-- <div class="col-md-4"></div> -->
      <div class="col-md-6">
        <div class="text-center">
            <img *ngIf="!imagePreView && !model.picturepath" src="assets/images/no-image-profile.png" class="image">
            <img *ngIf="model.picturepath && !imagePreView" src="{{model.picturepath}}"  class="image">
            <img *ngIf="imagePreView !== '' && imagePreView" [src]="imagePreView" class="image">
         <br><br>
             <!-- <div class="col-md-2-offset-3">
            </div> -->
        </div>
      </div>
      <div class="col-md-3"></div>
    </div><br>
    <div class="row">
      <div class="col-md-3 text-right weight">ชื่อ-นามสกุล :</div>
      <div class="col-md-3 ">{{model.fullnamepatron}}</div>
      <div class="col-md-3 text-right weight">ชื่อเล่น :</div>
      <div class="col-md-3">{{model.nickname}}</div>
    </div><br>
    <div class="row">
      <div class="col-md-3 text-right weight">วัน/เดือน/ปีเกิด :</div>
      <div class="col-md-3">{{model.birthdate}}</div>
      <div class="col-md-3 text-right weight">อายุ :</div>
      <div class="col-md-3">{{model.agepatron}} (ปี.เดือน)</div>
    </div><br>
    <div class="row">
      <div class="col-md-3 text-right weight">เพศ :</div>
      <div class="col-md-3">{{model.gendername}}</div>
      <div class="col-md-3 text-right weight">สัญชาติ :</div>
      <div class="col-md-3">{{model.nationalityname}}</div>
    </div><br>
    <div class="row">
      <div class="col-md-3 text-right weight">เชื้อชาติ :</div>
      <div class="col-md-3">{{model.racename}}</div>
      <div class="col-md-3 text-right weight">ศาสนา :</div>
      <div class="col-md-3">{{model.religionname}}</div>
    </div><br>
    <div class="row">
      <div class="col-md-3 text-right weight">ระดับการศึกษา :</div>
      <div class="col-md-3">{{model.educationname}}</div>
      <div class="col-md-3 text-right weight">ชื่อสถานศึกษา :</div>
      <div class="col-md-3">{{model.schoolname}}</div>
    </div><br>
    <div class="row">
      <div class="col-md-3 text-right weight">ที่อยู่ :</div>
      <div class="col-md-9">บ้านเลขที่ {{model.homeno}} หมู่ {{model.moono}} ต.{{model.tumbolname}} อ.{{model.amphurname}} &nbsp; จ.{{model.provincename}}</div>
    </div>
  </div>
</div>

<!-- <div class="modal-footer">
  <button class="btn btn-cancle btn-sm" (click)="close()">ปิด</button>
</div> -->