<div class="card">
  <div class="card-header">
    เพิ่มข้อมูลผู้อุปถัมภ์
  </div>
  <div class="card-body">
    <div class="row" *ngIf="model.picturepath">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <img class="image" src="{{model.picturepath}}" alt="ผู้อุปถัมภ์">
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row" *ngIf="!model.picturepath">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
          <img class="image" src="../../../../assets/images/No_Image_Available.jpg" alt="ผู้อุปถัมภ์">
        </div>
        <div class="col-md-4"></div>
      </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <label class="text-strong">1. ข้อมูลเบื้องต้น</label>
      </div>
      <div class="col-md-6"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3 text-right">
        <label class="text-strong">ชื่อผู้อุปการะเด็ก :</label>
      </div>
      <div class="col-md-8">
        <label>{{model.fullname}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3 text-right">
        <label class="text-strong">ที่อยู่ปัจจุบัน :</label>
      </div>
      <div class="col-md-8">
        <label>{{model.address.fulladdress}}</label>
      </div>
    </div><br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <label class="text-strong">2. การสอบประวัติ</label>
      </div>
      <div class="col-md-6"></div>
    </div>
    <form [formGroup]="form">
      <div class="row" *ngFor="let item of model.survey; let index = index;">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-right">
          <label class="text-strong">สอบครั้งที่ {{index+1}} : </label>
        </div>
        <div class="col-md-4">
          <input type="date" class="form-control" [max]="datenow" style="margin-bottom: 5px; padding: 5px; height: 35px;"
            [(ngModel)]="item.surveydate" [name]="'name'+index" formControlName="{{'surveydate'+index}}">
          <p *ngIf="isError(form.controls['surveydate'+index],'required')" style="color: red" class="text-left">**กรุณาเลือกข้อมูล</p>
        </div>
        <div class="col-md-1">
          <a style="color:rgb(255, 206, 72); margin: 0px;" (click)="delFormSurvey(index)"><i class="fas fa-trash-alt fa-lg"
              style="margin-top: 10px;"></i></a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="text-center">
          <button class="btn btn-success btn-sm" style="padding:1%" (click)="addFormservey()"><i class="fas fa-plus" style="font-size:9pt;">&nbsp;เพิ่ม</i></button>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </form>
    <br>
    <div class="row">
      <div class="col-md-12 text-right">
        <a href="http://localhost:8000/report/evaluationpatron/?patronid={{patronid}}"><button class="btn btn-sm btn-success" >ดาวน์โหลดข้อมูลผู้อุปถัมภ์</button></a>
        <!-- &nbsp;&nbsp;
        <button class="btn btn-sm btn-success" (click)="onViewreport()">ดูข้อมูล</button> -->
      </div>
    </div>
    <br>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th class="text-center" width="80">สถานะ</th>
          <th class="text-center">รายการ</th>
          <th class="text-center" width="120">จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of modalComponents; let i = index">
          <td class="text-center">
            <i *ngIf="isCompleted(i)" class="fa fa-check-square-o status-completed" aria-hidden="true"></i>
            <i *ngIf="!isCompleted(i)" class="fa fa-square-o status-uncomplete" aria-hidden="true"></i>
          </td>
          <td class="text-left" [ngClass]='cssCompleted(i)' scope="row" (click)="onShowForms(i);">{{(i+1) + '.
            '+item.title}}</td>
          <td class="text-center"><a class="link" (click)="onShowForms(i);">เพิ่มข้อมูล</a></td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="card-footer text-center">
    <button class="btn btn-sm btn-warning btn-sm" (click)="onCancle()">ยกเลิก</button> &nbsp;&nbsp;
    <button class="btn btn-sm btn-success btn-sm" (click)="onSave();">บันทึกข้อมูล</button>
  </div>
</div>

<ng4-loading-spinner [threshold]="1" [timeout]="func.loadingTimeout()" [template]="func.loadingTemplate()"></ng4-loading-spinner>