.row-menu-form {
  margin: 10px;
}
.menu-form {
  font-size: 16px;
  color: #000000 !important;
  cursor: pointer;
}
.menu-form:hover {
  color: #0b0d97 !important;
  text-decoration: underline !important;
}

.status-completed {
  color: #03af76;
}
.status-uncomplete {
  color: #b1b0b0;
}
.btn-success {
  background-color: rgb(67, 185, 94) !important;
}
.btn-warning {
  background-color: rgb(255, 206, 72) !important;
}
.image{
  width: 180px;
  height: 180px;
  // border: 0.5px solid rgb(110, 110, 110);
  border-radius: 50%;
  background-color: rgb(250, 250, 250);
  box-shadow: 5px 5px 15px 2px rgba(50, 50, 50, .3);
}