<div class="card" (keypress)="onEnter($event)">
  <div class="card-header background-card"> รายการผู้อุปถัมภ์ </div>
  <div class="card-body">
    
    <div class="row">
      <div class="col-md-2 "></div>
      <div class="col-md-2 text-right"> ชื่อ - นามสกุลผู้อุปถัมภ์ : </div>
      <div class="col-md-4 ">
        <input type="text" class="form-control" [(ngModel)]="model.namePatron" maxlength="100" (keypress)="chkNum($event)">
      </div>
      <div class="col-md-4 "></div>
      <!-- <div class="col-md-1"><i class="fas fa-search" style="margin-top:9px; padding: 0%; color: rgb(175, 172, 172)"></i></div> -->
    </div>

    <div class="row">
        <div class="col-md-2 "></div>
      <div class="col-md-2 text-right"> ชื่อ - นามสกุลเด็ก : </div>
      <div class="col-md-4 ">
        <input type="text" class="form-control" [(ngModel)]="model.nameOrphan" maxlength="100" (keypress)="chkNum($event)">
      </div>
      <div class="col-md-4 "></div>
      <!-- <div class="col-md-1"><i class="fas fa-search" style="margin-top:9px; padding: 0%; color: rgb(175, 172, 172)"></i></div> -->
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 text-center">       
        <button class="btn btn-warning btn-sm btn-reset" (click)="onReset()">รีเซ็ท</button>
        &nbsp;
        <button class="btn btn-primary btn-sm btn-search" (click)="onSearchPatron()">ค้นหา</button>  
      </div>
    </div> 
    <br>
    <hr><br>

    <div class="row">
      <div class="col-md-12">
        <!-- <button class="btn btn-sm btn-success" routerLink="/pages/patron/form">เพิ่มผู้อุปถัมภ์</button> -->
      <button class="btn btn-sm btn-success btn-add" (click)="addPatronList()"><i class="fas fa-user-plus" style="font-size: 14pt"></i>&nbsp; เพิ่มผู้อุปถัมภ์</button>
      </div>
    </div>
    <br>
    <ng2-smart-table [settings]="tbSettings" [source]="datasource" (rowSelect)="func.setTableNumber($event)"></ng2-smart-table>
  </div>
</div>

<ng4-loading-spinner [threshold]="1" [timeout]="func.loadingTimeout()" [template]="func.loadingTemplate()"></ng4-loading-spinner>