<!-- Modal -->
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{headerTitle}}</h5>
  <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="closeMod()"></i></div>
</div>
<div class="modal-body">
  <form [formGroup]="form">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
      <div class="row">
        <div class="col-md-12 weight"> ก.ประวัติส่วนตัวของผู้อุปการะเด็ก </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12"> <textarea formControlName="patronhistory" [(ngModel)]="model.patronhistory" rows="5" class="form-control" maxlength="500" (keyup)="CheckInput($event)"></textarea></div>
        <p *ngIf="isError(form.controls['patronhistory'])" style="color:red;">**กรุณากรอกข้อมูล</p>
      </div>
      <br>
    </div>

    <div class="form-group">
      <div class="row">
          <div class="col-md-12 weight"> ข.ประวัติส่วนตัวของสามีหรือภรรยา </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12"> <textarea formControlName="couplehistory" [(ngModel)]="model.couplehistory" rows="5" class="form-control" maxlength="500" (keyup)="CheckInput($event)"></textarea></div>
          <p *ngIf="isError(form.controls['couplehistory'])" style="color:red;">**กรุณากรอกข้อมูล</p>          
        </div>
        <br>
      </div>


      <div class="form-group">
        <div class="row">
            <div class="col-md-12 weight "> ค.ประวัติการสมรสของผู้ขออุปการะเด็ก </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12"> <textarea formControlName="maritalhistory" [(ngModel)]="model.maritalhistory" rows="5" class="form-control" maxlength="500" (keyup)="CheckInput($event)"></textarea></div>
            <p *ngIf="isError(form.controls['maritalhistory'])" style="color:red;">**กรุณากรอกข้อมูล</p>          
          </div>
      </div>
    </div>
  </div>
</form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" (click)="closeModal()">ตกลง</button>
    <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal" (click)="prevModal()">< ย้อนกลับ</button>
    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="nextModal()">หน้าถัดไป ></button>
</div>