<p>
  developments works!
</p>


<div class="row">
  <div class="col-xl-1 text-right"><label>Province</label></div>
  <div class="col-xl-3">
    <select [(ngModel)]="address.provincecode" (change)="setAmphurList()" class="form-control">
      <option value="">--Pleaselect--</option>
      <option *ngFor="let item of address.provinces" [value]="item.code">{{item.name}}</option>
    </select>
  </div>
  <div class="col-xl-1 text-right"><label>Amphur</label></div>
  <div class="col-xl-3">
      <select [(ngModel)]="address.amphurcode" (change)="setTumbolList()" [disabled]="!address.provincecode" class="form-control">
          <option value="">--Pleaselect--</option>
        <option *ngFor="let item of address.amphurs" [value]="item.code">{{item.name}}</option>
      </select>
  </div>
  <div class="col-xl-1 text-right"><label>Tumbol</label></div>
  <div class="col-xl-3">
      <select [(ngModel)]="address.tumbolcode" [disabled]="!address.amphurcode" class="form-control">
        <option value="">--Pleaselect--</option>
        <option *ngFor="let item of address.tumbols" [value]="item.code">{{item.name}}</option>
      </select>
  </div>
</div>

<ng4-loading-spinner [threshold]="1" [timeout]="fn.loadingTimeout()" [template]="fn.loadingTemplate()"></ng4-loading-spinner>

