<!-- Modal -->
<div class="modal-header">
  <h5>{{headerTitle}}</h5> 
  <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="closeMod()"></i></div>
</div>
<div class="modal-body">

  <div class="mt-3">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs underline" *ngIf="itab==1">
      <li class="nav-item">
        <a class="nav-link active shoose" data-toggle="tab" href="#tab1" (click)="tab1(itab)">ข้อมูลส่วนตัว</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab2" *ngIf="!optional.ismarital" (click)="tab2(itab)">ที่อยู่</a>
      </li>
    </ul>

    <ul class="nav nav-tabs underline" *ngIf="itab==2">
      <li class="nav-item" *ngIf="!optional.ismarital">
        <a class="nav-link" data-toggle="tab" href="#tab1" (click)="tab1(itab)">ข้อมูลส่วนตัว</a>
      </li>
      <li class="nav-item" *ngIf="optional.ismarital">
        <a class="nav-link" data-toggle="tab" href="#tab1" *ngIf="!optional.ismarital" (click)="tab1(itab)">ข้อมูลคู่สมรส</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active shoose" data-toggle="tab" href="#tab2" *ngIf="!optional.ismarital" (click)="tab2(itab)">ที่อยู่</a>
      </li>
    </ul>


    <!-- Tab panes 1 -->
    <div class="tab-content" *ngIf="itab==1">
      <div id="tab1" class="tab-pane active"><br>
        <form [formGroup]="form">
          <div class="row">
            <div class="col-md-2 text-right weight">เพศ :</div>
            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="tempModel.genderid" name="tempModel.genderid" formControlName="genderid" (change)="setPrefix()" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of genderList" [value]="item.genderid">{{item.gendername}}</option>
              </select>
              <p *ngIf="isError(form.controls['genderid'],'required')">**กรุณาเลือกข้อมูล</p>
            </div>
            <div class="col-md-2 text-right weight">คำนำหน้า :</div>
            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="tempModel.prefixid" name="tempModel.prefixid" formControlName="prefixid" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of prefixList" [value]="item.prefixid">{{item.name}}</option>

              </select>
              <p *ngIf="isError(form.controls['prefixid'],'required')">**กรุณาเลือกข้อมูล</p>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right weight">ชื่อ :</div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="tempModel.firstname" name="modal.firstname"
                formControlName="firstname" autocomplete="off" maxlength="50" (keypress)="chkNum($event)" (keyup)="CheckInput($event)">
              <p *ngIf="fn.isInvalid(form.controls['firstname'],isCheck)">**กรุณากรอกข้อมูล</p>
            </div>
            <div class="col-md-2 text-right weight">นามสกุล :</div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="tempModel.lastname" name="tempModel.lastname"
                formControlName="lastname" autocomplete="off" maxlength="50" (keypress)="chkNum($event)" (keyup)="CheckInput($event)">
              <p *ngIf="isError(form.controls['lastname'],'required')">**กรุณากรอกข้อมูล</p>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-2 text-right weight">วัน/เดือน/ปีเกิด :</div>
            <div class="col-md-4">
              <input type="date" class="form-control" [(ngModel)]="tempModel.birthdate" name="tempModel.birthdate"
                formControlName="birthdate" [max]="datenow" (keyup)="chkDate()">
              <p *ngIf="isError(form.controls['birthdate'],'required')">**กรุณาเลือกข้อมูล</p>
              <p *ngIf="ischkdate == true">**กรุณากรอกข้อมูลให้ถูกต้อง</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4"></div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right weight">สัญชาติ :</div>
            <div class="col-md-4">
              <select type="text" class="form-control" [(ngModel)]="tempModel.nationcode" name="tempModel.nationcode"
                formControlName="nationcode" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of nationalityList" [value]="item.code">{{item.name}}</option>
              </select>
              <p *ngIf="isError(form.controls['nationcode'],'required')">**กรุณาเลือกข้อมูล</p>
            </div>
            <div class="col-md-2 text-right weight">เชื้อชาติ :</div>
            <div class="col-md-4">
              <select type="text" class="form-control" [(ngModel)]="tempModel.racecode" name="modal.racecode"
                formControlName="racecode" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of raceList" [value]="item.code">{{item.name}}</option>

              </select>
              <p *ngIf="isError(form.controls['racecode'],'required')">**กรุณาเลือกข้อมูล</p>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-2 text-right weight">ศาสนา :</div>
            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="tempModel.religioncode" name="tempModel.religioncode"
                formControlName="religioncode" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of religionList" [value]="item.code">{{item.name}}</option>

              </select>
              <p *ngIf="isError(form.controls['religioncode'],'required')">**กรุณาเลือกข้อมูล</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4"></div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right weight">ระดับการศึกษา :</div>
            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="tempModel.educationcode" name="tempModel.educationcode"
                formControlName="educationcode" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of educaionList" [value]="item.code">{{item.name}}</option>

              </select>
              <p *ngIf="isError(form.controls['educationcode'],'required')">**กรุณาเลือกข้อมูล</p>
            </div>
            <div class="col-md-2 text-right weight">ชื่อสถานศึกษา :</div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="tempModel.schoolname" name="tempModel.schoolname"
                formControlName="schoolname" autocomplete="off" maxlength="150" (keyup)="CheckInput($event)">
              <p *ngIf="isError(form.controls['schoolname'],'required')">**กรุณากรอกข้อมูล</p>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right weight">สุขภาพ :</div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="tempModel.health" name="tempModel.health"
                formControlName="health" autocomplete="off" maxlength="150" (keyup)="CheckInput($event)">
              <p *ngIf="isError(form.controls['health'],'required')">**กรุณากรอกข้อมูล</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4"></div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right weight">อาชีพและรายได้ :</div>
            <div class="col-md-10">
              <textarea cols="30" rows="3" class="form-control" [(ngModel)]="tempModel.occupationdetail" name="tempModel.occupationdetail"
                formControlName="occupationdetail" maxlength="500" (keyup)="CheckInput($event)"></textarea>
              <p *ngIf="isError(form.controls['occupationdetail'],'required')">**กรุณากรอกข้อมูล</p>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right weight">ตำแหน่งและสถานที่ทำงานประจำ :</div>
            <div class="col-md-10">
              <textarea class="form-control" rows="3" [(ngModel)]="tempModel.positionworkplace" name="tempModel.positionworkplace"
                formControlName="positionworkplace" maxlength="500" (keyup)="CheckInput($event)"></textarea>
              <p *ngIf="isError(form.controls['positionworkplace'],'required')">**กรุณากรอกข้อมูล</p>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right weight">ลักษณะท่าทางและการแต่งกาย :</div>
            <div class="col-md-10">
              <textarea class="form-control" rows="3" [(ngModel)]="tempModel.personality" name="tempModel.personality"
                formControlName="personality" maxlength="255" (keyup)="CheckInput($event)"></textarea>
              <p *ngIf="isError(form.controls['personality'],'required')">**กรุณากรอกข้อมูล</p>
            </div>
          </div>
          <br>
          <div class="row" *ngIf="optional.ismarital">
            <div class="col-md-2 text-right weight">สถานภาพปัจจุบัน :</div>
            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="tempModel.maritalstatusid" name="tempModel.maritalstatusid"
                formControlName="maritalstatusid" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of maritalstatusList" [value]="item.maritalstatusid">{{item.name}}</option>
              </select>
              <p *ngIf="isError(form.controls['maritalstatusid'], 'required')">**กรุณาเลือกข้อมูล</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4"></div>
          </div>
          <br>
        </form>
      </div>
    </div>

    <!-- Tab panes 2 -->
    <div class="tab-content" *ngIf="itab==2">
      <div id="tab2" class="tab-pane active"><br>
        <form [formGroup]="form">
          <div *ngIf="!optional.ismarital">
            <br>
            <div class="row">
              <div class="col-md-2 text-right weight">บ้านเลขที่ :</div>
              <div class="col-md-4">
                <input type="text" class="form-control" [(ngModel)]="tempModel.address.homeno" name="tempModel.address.homeno"
                  formControlName="homeno" autocomplete="off" maxlength="10" (keyup)="CheckInput($event)">
                <p *ngIf="isError(form.controls['homeno'],'required')">**กรุณากรอกข้อมูล</p>
              </div>
              <div class="col-md-2 text-right weight">หมู่ที่ :</div>
              <div class="col-md-4">
                <input type="text" class="form-control" [(ngModel)]="tempModel.address.moono" name="tempModel.address.moono"
                  formControlName="moono" autocomplete="off" maxlength="10" (keyup)="CheckInput($event)">
                <p *ngIf="isError(form.controls['moono'],'required')">**กรุณากรอกข้อมูล</p>
              </div>
            </div><br>
            <div class="row">
              <div class="col-md-2 text-right weight">ซอย :</div>
              <div class="col-md-4">
                <input type="text" class="form-control" [(ngModel)]="tempModel.address.soi" name="tempModel.address.soi"
                  formControlName="soi" autocomplete="off" maxlength="100" (keyup)="CheckInput($event)">
                <p *ngIf="isError(form.controls['soi'],'required')">**กรุณากรอกข้อมูล</p>
              </div>
              <div class="col-md-2 text-right weight">ถนน :</div>
              <div class="col-md-4">
                <input type="text" class="form-control" [(ngModel)]="tempModel.address.road" name="tempModel.address.road"
                  formControlName="road" autocomplete="off" maxlength="100" (keyup)="CheckInput($event)">
                <p *ngIf="isError(form.controls['road'],'required')">**กรุณากรอกข้อมูล</p>
              </div>
            </div><br>
            <div class="row">
              <div class="col-md-2 text-right weight">จังหวัด :</div>
              <div class="col-md-4">
                <select class="form-control" [(ngModel)]="tempModel.address.provincecode" name="tempModel.address.provincecode"
                  formControlName="provincecode" (change)="onChangeProvince()" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                  <option value="">--กรุณาเลือก--</option>
                  <option *ngFor="let item of provinceList" [value]="item.code">{{item.name}}</option>
                </select>
                <p *ngIf="isError(form.controls['provincecode'],'required')">**กรุณาเลือกข้อมูล</p>
              </div>
              <div class="col-md-2 text-right weight">อำเภอ :</div>
              <div class="col-md-4">
                <select class="form-control" [(ngModel)]="tempModel.address.amphurcode" name="tempModel.address.amphurcode"
                  formControlName="amphurcode" (change)="onChangeAmphur()" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                  <option value="">--กรุณาเลือก--</option>
                  <option *ngFor="let item of amphurList" [value]="item.code">{{item.name}}</option>
                </select>
                <p *ngIf="isError(form.controls['amphurcode'],'required')">**กรุณาเลือกข้อมูล</p>
              </div>
            </div><br>
            <div class="row">
              <div class="col-md-2 text-right weight ">ตำบล :</div>
              <div class="col-md-4">
                <select class="form-control" [(ngModel)]="tempModel.address.tumbolcode" name="tempModel.address.tumbolcode"
                  formControlName="tumbolcode" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
                  <option value="">--กรุณาเลือก--</option>
                  <option *ngFor="let item of tumbolList" [value]="item.code">{{item.name}}</option>

                </select>
                <p *ngIf="isError(form.controls['tumbolcode'],'required')">**กรุณาเลือกข้อมูล</p>
              </div>
              <div class="col-md-2 text-right weight">รหัสไปรษณีย์ :</div>
              <div class="col-md-4">
                <input type="text" class="form-control" [(ngModel)]="tempModel.address.zipcode" name="tempModel.address.zipcode"
                  formControlName="zipcode" autocomplete="off" maxlength="5" (keypress)="chkChar($event)" (keyup)="CheckInput($event)">
                <p *ngIf="isError(form.controls['zipcode'],'required')">**กรุณากรอกข้อมูล</p>
              </div>
            </div><br>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer" *ngIf="itab==1">
  <button type="button" class="btn btn-danger btn-sm" (click)="closeModal()">ตกลง</button>
  <button *ngIf="index==0" type="button" class="btn btn-success btn-sm" (click)="tab2(itab)">ถัดไป ></button>
  <button *ngIf="index==1" type="button" class="btn btn-warning btn-sm" (click)="prevModal()">
    < ย้อนกลับ</button> <button *ngIf="index==1" type="button" class="btn btn-success btn-sm" data-dismiss="modal"
      (click)="nextModal()">หน้าถัดไป
      >
  </button>
</div>
<div class="modal-footer" *ngIf="itab==2">
  <button type="button" class="btn btn-danger btn-sm" (click)="closeModal()">ตกลง</button>
  <button *ngIf="index==0" type="button" class="btn btn-warning btn-sm" (click)="tab1(itab)">
    < ย้อนกลับ</button> <button *ngIf="index==1" type="button" class="btn btn-warning" data-dismiss="modal" (click)="prevModal()">
      < ย้อนกลับ</button> <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="nextModal()">หน้าถัดไป
        >
  </button>
</div>

<ng4-loading-spinner [threshold]="1" [timeout]="fn.loadingTimeout()" [template]="fn.loadingTemplate()"></ng4-loading-spinner>