p{
    margin-top: 5px;
    color: red;
    font-weight: bold;
}
.nav-link{
    color: black;
}
.weight{
  font-weight: bold;
}
.nav-link:hover{
    color: black;
    border: 1px solid rgb(67, 185, 94);
    border-bottom-color: rgb(247, 245, 245);
}
.fa-times{
  margin-right: -25%;
  color:#fff;
}
.fa-times:hover{
  color:rgb(179, 0, 0);
}
.shoose{
    color: rgb(40, 114, 58) !important;
    font-weight: bold;
    border-color: rgb(67, 185, 94) !important;
    border-bottom-color: rgb(247, 245, 245) !important;
    background-color: rgb(247, 245, 245) !important;
}
.underline{
    border-bottom: 1px solid rgb(67, 185, 94); 
}
.modal-header,
.btn-success {
  background-color: rgb(67, 185, 94) !important;
}
.btn-danger {
  background-color: rgb(255, 206, 72) !important;
}
.btn-warning {
  background-color: rgb(42, 114, 182) !important;
}
.modal-body {
  background-color: rgb(247, 245, 245) !important;
}
h5 {
  color: white !important;
}
select{
  cursor: pointer;
}
input[type="text"],[type="date"]{
  padding: 5px;
  margin-bottom: 5px;
}