p {
  margin-top: 5px;
  color: red;
  font-weight: bold;
}
.weight{
  font-weight: bold;
}
.modal-header,
.btn-success {
  background-color: rgb(67, 185, 94) !important;
}
.btn-danger {
  background-color: rgb(255, 206, 72) !important;
}
.btn-warning {
  background-color: rgb(42, 114, 182) !important;
}
.modal-body {
  background-color: rgb(247, 245, 245) !important;
}
h5 {
  color: white !important;
}
select {
  cursor: pointer;
}
.btn-delMember {
  font-size: 20pt;
  color: #e25d5d !important;
}
.btn-delMember:hover {
  cursor: pointer !important;
  font-size: 20pt;
  color: #ff0000 !important;
}
.btn-delMember:active {
  cursor: pointer !important;
  transform: scale(0.8);
  color: #ff0000 !important;
}
.fa-times{
  margin-right: -25%;
  color:#fff;
}
.fa-times:hover{
  color:rgb(179, 0, 0);
}
.btn-addMember {
  color: #43b95e !important;
  font-size: 30pt;
}
.btn-addMember:hover {
  color: #27803c !important;
  font-size: 30pt;
  cursor: pointer !important;
}
.btn-addMember:active {
  color: #43b95e !important;
  transform: scale(1.25);
}
.border {
  border-style: dashed !important;
  padding: 20px !important;
}
input[type="text"],[type="date"],{
  padding: 5px;
  margin-bottom: 5px;
}