<!-- Modal -->
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{headerTitle}}</h5>
  <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="closeMod()"></i></div>
</div>
<div class="modal-body">

  <form [formGroup]="form">
    <ng-container *ngFor="let item of members;let index = index">
      <div style="margin-bottom:5px;">

        <div class="row">
          <div class="col-md-1"><label for="">{{index+1}}</label></div>
          <div class="col-md-2 text-right weight">คำนำหน้า :</div>
          <div class="col-md-3">
            <select name="" id="" class="form-control" formControlName="{{'prefixid'+index}}" [(ngModel)]="item.prefixid" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
              <option value="">กรุณาเลือก</option>
              <option *ngFor="let item of prefixList" [value]="item.prefixid">{{item.name}}</option>
            </select>
          </div>
          <div class="col-md-6 text-right"><i class="fas fa-times-circle btn-delMember" (click)="onRemoveMember(index)"></i></div>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <p *ngIf="isError(form.controls['prefixid'+index],'required')" style="color:red;">**กรุณาเลือกข้อมูล</p>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-3"></div>
          <div class="col-md-1"></div>
        </div>
        <br>

        <div class="row">
          <!-- <div class="col-md-1"></div> -->
          <div class="col-md-3 text-right weight">ชื่อ :</div>
          <div class="col-md-3"><input type="text" class="form-control" formControlName="{{'firstname'+index}}"
              [(ngModel)]="item.firstname" (blur)="OnBlur(item)" maxlength="50" (keypress)="chkNum($event)" (keyup)="CheckInput($event)" (keypress)="chkSpacebar($event)">
            </div>
          <div class="col-md-2 text-right weight">นามสกุล :</div>
          <div class="col-md-3"><input type="text" class="form-control" formControlName="{{'lastname'+index}}"
              [(ngModel)]="item.lastname" (blur)="OnBlur(item)" maxlength="50" (keypress)="chkNum($event)" (keyup)="CheckInput($event)" (keypress)="chkSpacebar($event)"></div>
          <!-- <div class="col-md-1"></div> -->
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2"></div>
          <div class="col-md-3">  
            <p *ngIf="isError(form.controls['firstname'+index],'required')" style="color:red;">**กรุณากรอกข้อมูล</p>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <p *ngIf="isError(form.controls['lastname'+index],'required')" style="color:red;">**กรุณากรอกข้อมูล</p>
          </div>
          <div class="col-md-1"></div>
        </div>
        <br>

        <div class="row">
          <!-- <div class="col-md-1"></div> -->
          <div class="col-md-3 text-right weight">วัน/เดือน/ปีเกิด :</div>
          <div class="col-md-3"><input type="date" class="form-control" formControlName="{{'birthdate'+index}}"
              [(ngModel)]="item.birthdate" (blur)="OnBlur(item)" [max]="datenow" (keyup)="chkDate()" (change)="CheckInput($event)">
              <p *ngIf="ischkdate == true">**กรุณากรอกข้อมูลให้ถูกต้อง</p>
            </div>
          <div class="col-md-2 text-right weight">เกี่ยวข้อง :</div>
          <div class="col-md-3">
            <select name="" id="" class="form-control" formControlName="{{'relationshipid'+index}}" [(ngModel)]="item.relationshipid" style="padding: 5px; height: 35px;" (change)="CheckInput($event)">
              <option value="">กรุณาเลือก</option>
              <option *ngFor="let item of relationshipList" [value]="item.relationshipid">{{item.name}}</option>
            </select>
          </div>
          <!-- <div class="col-md-1"></div> -->
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <p *ngIf="isError(form.controls['birthdate'+index],'required')" style="color:red;">**กรุณาเลือกข้อมูล</p>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <p *ngIf="isError(form.controls['relationshipid'+index],'required')" style="color:red;">**กรุณาเลือกข้อมูล</p>
          </div>
          <div class="col-md-1"></div>
        </div>
        <br>

        <div class="row">
          <!-- <div class="col-md-1"></div> -->
          <div class="col-md-3 text-right weight">การศึกษาหรืออาชีพ :</div>
          <div class="col-md-3"><input type="text" class="form-control" formControlName="{{'educationcareer'+index}}"
              [(ngModel)]="item.educationcareer" maxlength="255" (keyup)="CheckInput($event)"></div>
          <div class="col-md-2 text-right weight">หมายเหตุ :</div>
          <div class="col-md-3"><input type="text" class="form-control" formControlName="{{'note'+index}}" [(ngModel)]="item.note" maxlength="255" (keyup)="CheckInput($event)"></div>
          <!-- <div class="col-md-1"></div> -->
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <p *ngIf="isError(form.controls['educationcareer'+index],'required')" style="color:red;">**กรุณากรอกข้อมูล</p>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <p *ngIf="isError(form.controls['note'+index],'required')" style="color:red;">**กรุณากรอกข้อมูล</p>
          </div>
          <div class="col-md-1"></div>
        </div>
        <hr>
      </div>
    </ng-container>
    <!-- </div> -->
  </form>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-xs-6 col-md-2 text-center">
        <button class="btn btn-success btn-sm" (click)="onAddMember()"><i class="fas fa-plus" style="font-size:9pt;">&nbsp;เพิ่ม</i></button>
    </div>
    <div class="col-md-5"></div>
  </div><br>
</div>
<div class="modal-footer">
  <div class="row">
  <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" (click)="closeModal()">ตกลง</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal" (click)="prevModal()">
    < ย้อนกลับ</button> &nbsp;&nbsp;
  <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="nextModal()">หน้าถัดไป
>
  </button>
</div>
</div>