<div class="modal-header">
  <h5>เปลี่ยนรหัสผ่าน</h5>
  <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="close()"></i></div>
</div>

<div class="modal-body">
  <form [formGroup]="form">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3 text-right">
          <p>รหัสผ่านเดิม :</p>
        </div>
        <div class="col-md-4">
          <input type="password" class="form-control" [(ngModel)]="model.currentpassword" formControlName="currentpassword" name="model.currentpassword"
          maxlength="20" autocomplete="off" (blur)="OnBlur()">
          <p *ngIf="isError(form.controls['currentpassword'],'required')" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
          <p *ngIf="isDuplicate == true" style="color: red" class="text-left">**รหัสผ่านไม่ถูกต้อง</p>
        </div>
        <div class="col-md-3"></div>
      </div><br>

      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3 text-right">
            <p>รหัสผ่านใหม่ :</p>
          </div>
          <div class="col-md-4">
            <input type="password" class="form-control" [(ngModel)]="model.password" formControlName="password" name="model.password"
            maxlength="20" autocomplete="off">
            <p *ngIf="isError(form.controls['password'],'required')" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>         
          </div>
          <div class="col-md-3"></div>
        </div><br>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3 text-right">
              <p>ยืนยันรหัสผ่าน :</p>
            </div>
            <div class="col-md-4">
              <input type="password" class="form-control" [(ngModel)]="model.renewpassword" formControlName="renewpassword" name="model.renewpassword"
              maxlength="20"autocomplete="off" (keyup)="chkPasword()">
              <p *ngIf="isError(form.controls['renewpassword'],'required')" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
              <p *ngIf="ischkPassword == true" style="color: red" class="text-left">**รหัสผ่านไม่ตรงกัน</p>
            </div>
            <div class="col-md-3"></div>
          </div><br>
        </form>
</div>

<div class="modal-footer">
  <button class="btn btn-cancle btn-sm" (click)="close()">ยกเลิก</button>
  <button class="btn btn-save btn-sm" (click)="save()">บันทึก</button>
</div> 