h5 {
    color: white !important;
}
.modal-header{
    background-color: rgb(67, 185, 94);
}
.modal-body{
    background-color: rgb(247, 245, 245);
}
.btn-save{
    background-color:  rgb(67, 185, 94) !important;
}
.btn-cancle{
    background-color: rgb(255, 206, 72) !important;
}
input[type="password"] {
    padding: 5px;
    margin-bottom: 5px;
  }
  .fa-times{
    color:#fff;
  }
  .fa-times:hover{
    color:rgb(179, 0, 0);
  }