<!-- Modal -->
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{headerTitle}} </h5>
    <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="closeMod()"></i></div>
</div>
  <div class="modal-body">
    <form [formGroup]="form" >
    <div class="foem-group"><b>ก. เวลาที่จะอยู่กับเด็ก</b>
        <br><br>
            <textarea class="form-control" rows="3" formControlName="otherfact_sub1" [(ngModel)]="model.otherfact_sub1" maxlength="255" (keyup)="CheckInput($event)"></textarea>
            <p *ngIf="isError(form.controls['otherfact_sub1'])">**กรุณากรอกข้อมูล</p>

            <br>
        <b>ข. สาเหตุที่ขออุปการะเด็ก</b>
        <br><br>
            <textarea class="form-control" rows="3" formControlName="otherfact_sub2" [(ngModel)]="model.otherfact_sub2" maxlength="255" (keyup)="CheckInput($event)"></textarea>
            <p *ngIf="isError(form.controls['otherfact_sub2'])">**กรุณากรอกข้อมูล</p>

        <br>
        <b>ค. ความเห็นชอบของผู้อยู่ร่วมครอบครัว</b>
        <br><br>
            <textarea class="form-control" rows="3" formControlName="otherfact_sub3" [(ngModel)]="model.otherfact_sub3" maxlength="255" (keyup)="CheckInput($event)"></textarea>
            <p *ngIf="isError(form.controls['otherfact_sub3'])">**กรุณากรอกข้อมูล</p>

        <br>
        <b>ง. โครงการหรือความคิดเห็นที่จะเลี้ยงดูส่งเสริมเด็กต่อไป</b>
        <br><br>
            <textarea class="form-control" rows="3" formControlName="otherfact_sub4" [(ngModel)]="model.otherfact_sub4" maxlength="255" (keyup)="CheckInput($event)"></textarea>
            <p *ngIf="isError(form.controls['otherfact_sub4'])">**กรุณากรอกข้อมูล</p>

        <br>
        <b>จ. เคยอุปการะเด็กซึ่งมิใช่บุตรหลานมาบ้างหรือไม่</b>
        <br><br>
            <textarea class="form-control" rows="3" formControlName="otherfact_sub5" [(ngModel)]="model.otherfact_sub5" maxlength="255" (keyup)="CheckInput($event)"></textarea>
            <p *ngIf="isError(form.controls['otherfact_sub5'])">**กรุณากรอกข้อมูล</p>

        <br>
        <b>ฉ. ยินยอมให้บิดามารดาหรือญาติของเด็กมาเยี่ยมบ้างหรือไม่</b>
        <br><br>
            <textarea class="form-control" rows="3" formControlName="otherfact_sub6" [(ngModel)]="model.otherfact_sub6" maxlength="255" (keyup)="CheckInput($event)"></textarea>
            <p *ngIf="isError(form.controls['otherfact_sub6'])">**กรุณากรอกข้อมูล</p>

        <br>
        <b>ช. ภาษาที่ใช้พูดในครอบครัว</b>
        <br><br>
            <textarea class="form-control" rows="3" formControlName="otherfact_sub7" [(ngModel)]="model.otherfact_sub7" maxlength="255" (keyup)="CheckInput($event)"></textarea>
            <p *ngIf="isError(form.controls['otherfact_sub7'])">**กรุณากรอกข้อมูล</p>

        <br>
        <b>ซ. ความเห็นชอบตามข้อตกลงในการรับเด็กไปอุปการะ</b>
        <br><br>
            <textarea class="form-control" rows="3" formControlName="otherfact_sub8" [(ngModel)]="model.otherfact_sub8" maxlength="255" (keyup)="CheckInput($event)"></textarea>
            <p *ngIf="isError(form.controls['otherfact_sub8'])">**กรุณากรอกข้อมูล</p>

        <br>
        <b>ฌ. เพื่อนบ้าน</b>
        <br><br>
            <textarea class="form-control" rows="3" formControlName="otherfact_sub9" [(ngModel)]="model.otherfact_sub9" maxlength="255" (keyup)="CheckInput($event)"></textarea>
            <p *ngIf="isError(form.controls['otherfact_sub9'])">**กรุณากรอกข้อมูล</p>

        <br>
        <b>ญ.เด็กที่ประสงค์จะรับไปอุปการะ</b>
        <br><br>
            <textarea class="form-control" rows="3" formControlName="otherfact_sub10" [(ngModel)]="model.otherfact_sub10" maxlength="255" (keyup)="CheckInput($event)"></textarea>
            <p *ngIf="isError(form.controls['otherfact_sub10'])">**กรุณากรอกข้อมูล</p>

    </div>
    </form>
  </div>
  <div class="modal-footer"> 
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" (click)="closeModal()">ตกลง</button>
        <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal" (click)="prevModal()">< ย้อนกลับ</button>
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="nextModal()">หน้าถัดไป ></button>
  </div>