<div class="card">
  <div class="card-header">
    การประเมินพัฒนาการของเด็กที่ได้รับการอุปถัมภ์
  </div>
  <div class="card-body">
        <div class="row">
          <div class="col-md-4 text-right">ช่วงอายุ :</div>
          <div class="col-md-4">
            <select class="form-control" style="padding: 5px; height: 35px; margin-bottom: 6px; cursor: pointer;" [(ngModel)]="model.ranks" (keypress)="onEnter($event)">
                <option value="">--ทั้งหมด--</option>
                <option value="1-2">อายุ 1-2 ปี</option>
                <option value="2-3">อายุ 2-3 ปี</option>
                <option value="3-4">อายุ 3-4 ปี</option>
                <option value="4-5">อายุ 4-5 ปี</option>
                <option value="5-6">อายุ 5-6 ปี</option>
                <!-- <option *ngFor="let item of orphanstatus" [value]="item.orphanstatusid">{{item.name}}</option> -->
            </select>
          </div>
          <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-4 text-right">ชื่อ - นามสกุล :</div>
        <div class="col-md-4">
          <input type="text" class="form-control" [(ngModel)]="model.fullname" maxlength="100" (keypress)="onEnter($event)" (keypress)="chkName($event)">
        </div>
        <div class="col-md-4"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="text-center">
          <button class="btn btn-warning btn-sm" (click)="onReset()">รีเซ็ต</button>
           &nbsp;
          <button class="btn btn-success btn-sm" (click)="onSearchOrphan()">ค้นหา</button>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div><br><hr>
      <!-- หมายเหตุ -->
      <div class="row">
        <div class="col-md-3"> หมายเหตุ: </div>
      </div>  
      <div class="row" style="margin-top:2%;">
          <div class="col-md-3">
              <i class="fas fa-square-full fa-xs" style="font-size: 1.0rem; color: #009a31 !important; border: 1px solid black; background-color:  #009a31 !important; "></i>&nbsp;ประเมินพัฒนาการเด็กเสร็จสมบูรณ์
          </div>
          <div class="col-md-3" style="margin-left:-3%;">
              <i class="fas fa-square-full fa-xs" style="font-size: 1.0rem; color: rgb(255, 206, 72) !important; border: 1px solid black; background-color: rgb(255, 206, 72) !important; "></i>&nbsp;ประเมินพัฒนาการเด็กเสร็จบางส่วน
          </div>
          <div class="col-md-3" style="margin-left:-3%;">
              <i class="fas fa-square-full fa-xs" style="font-size: 1.0rem; color: rgb(175, 172, 172) !important; border: 1px solid black; background-color: rgb(175, 172, 172) !important; "></i>&nbsp;ยังไม่ประเมินพัฒนาการเด็ก
          </div>
      </div>
         <br>
        <!-- -->
    <ng2-smart-table [settings]="tbSettings" [source]="datasource" (rowSelect)="func.setTableNumber($event)"></ng2-smart-table>
<ng4-loading-spinner [threshold]="1" [timeout]="func.loadingTimeout()" [template]="func.loadingTemplate()"></ng4-loading-spinner>