i{
    font-size: 20px;
    color: rgb(175, 172, 172) !important;
}
.isCssCompleted{
    font-size: 20px;
    color: rgb(7, 173, 43) !important;
}

i:hover{
    color: #6bf572 !important;
}

input[type=text],[type=number]{
    padding: 5px;
    margin-bottom: 5px; 
}
.btn-success{
    background-color: rgb(30, 114, 50) !important;
}
.btn-compeleted{
    color: #009a31 !important;
}
.btn-uncompeleted{
    color: rgb(255, 206, 72) !important;
}
.btn-warning{
    background-color: rgb(255, 206, 72) !important;
}