<!-- Modal -->
<div class="modal-header">
  {{title}}
</div>
<div class="modal-body">
  {{message}}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" style="background-color: red !important;" (click)="closeModal(true)">ใช่</button>
  &nbsp;&nbsp;
  <button type="button" class="btn btn-info" (click)="closeModal(false)">ไม่ใช่</button>
</div>