.nav-link {
  color: black;
}
.nav-link:hover {
  color: black;
  border: 1px solid rgb(67, 185, 94);
  border-bottom-color: rgb(247, 245, 245);
}
.shoose {
  color: rgb(9, 114, 35) !important;
  font-weight: bold;
  border-color: rgb(67, 185, 94) !important;
  border-bottom-color: rgb(247, 245, 245) !important;
  background-color: rgb(247, 245, 245) !important;
}
.underline {
  border-bottom: 1px solid rgb(67, 185, 94);
}
.modal-header {
  background-color: rgb(67, 185, 94);
}
.modal-body {
  background-color: rgb(247, 245, 245);
}
h5 {
  color: white !important;
}
.btn-cancle {
  background-color: rgb(255, 206, 72) !important;
}
.btn-save {
  background-color: rgb(67, 185, 94) !important;
}
.btn-back{
    background-color: rgb(42, 114, 182) !important;
}
input[type="text"],[type="date"] {
  padding: 5px;
  margin-bottom: 5px;
}
p{
  margin-top: 5px
  color red;
  font-weight: bold;
}
nb-trash{
  width:50%;
}
.image{
  width: 200px;
  height: 200px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: rgb(250, 250, 250);
}
.fa-times{
  margin-right: -25%;
  color:#fff;
}
.fa-times:hover{
  color:rgb(179, 0, 0);
}