<div class="modal-header">
<h5>เพิ่มข้อมูลเด็กในโครงการอุปถัมภ์</h5>
<div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="closeModal()"></i></div>
</div>
<div class="modal-body">

  <!-- <div class="container"> -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs underline" *ngIf="itab==1">
      <li class="nav-item">
        <a class="nav-link active shoose" id="tab1" data-toggle="tab" href="#home" (click)="tab1(itab)">ข้อมูลส่วนตัว</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1" (click)="tab2(itab)">ประวัติก่อนเข้าโครงการ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2" (click)="tab3(itab)">แผนการดำเนินงานกับเด็ก</a>
      </li>
    </ul>

    <ul class="nav nav-tabs underline" *ngIf="itab==2">
      <li class="nav-item">
        <a class="nav-link" id="tab1" data-toggle="tab" href="#home" (click)="tab1(itab)">ข้อมูลส่วนตัว</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active shoose" data-toggle="tab" href="#menu1" (click)="tab2(itab)">ประวัติก่อนเข้าโครงการ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2" (click)="tab3(itab)">แผนการดำเนินงานกับเด็ก</a>
      </li>
    </ul>

    <ul class="nav nav-tabs underline" *ngIf="itab==3">
      <li class="nav-item">
        <a class="nav-link" id="tab1" data-toggle="tab" href="#home" (click)="tab1(itab)">ข้อมูลส่วนตัว</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1" (click)="tab2(itab)">ประวัติก่อนเข้าโครงการ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active shoose" data-toggle="tab" href="#menu2" (click)="tab3(itab)">แผนการดำเนินงานกับเด็ก</a>
      </li>
    </ul>
    <br>
    <!-- Tab 1 -->
    <form [formGroup]="form">
      <div class="tab-content" *ngIf="itab==1">
        <div id="home" class="tab-pane active"><br>

          <div class="row">
            <div class="col-md-2 text-right">
              <p>เลขบัตรประจำตัวประชาชน :</p>
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="model.citizenid" name="model.citizenid"
                formControlName="citizenid" minlength="13" maxlength="13" (keyup)="onChkForm()" (keypress)="chkChar($event)">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4"></div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right">
              <p>เพศ :</p>
            </div>
            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="model.genderid" name="model.genderid" formControlName="genderid" (change)="onChkForm()" (change)="setPrefix()" style="padding: 5px; height: 35px; cursor: pointer;">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of genderList" [value]="item.genderid">{{item.gendername}}</option>
              </select>
              <p *ngIf="isError(form.controls['genderid'],'required')" style="color: red" class="text-left">**กรุณาเลือกข้อมูล</p>
            </div>
            <div class="col-md-2 text-right">
              <p>คำนำหน้า :</p>
            </div>
            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="model.prefixid" name="model.prefixid" formControlName="prefixid" (change)="onChkForm()" style="padding: 5px; height: 35px; cursor: pointer;">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of prefixList" [value]="item.prefixid">{{item.name}}</option>
              </select>
              <p *ngIf="isError(form.controls['prefixid'],'required')" style="color: red" class="text-left">**กรุณาเลือกข้อมูล</p>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right">
              <p>ชื่อ :</p>
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="model.firstname" name="model.firstname"
                formControlName="firstname" maxlength="50" (keyup)="onChkForm()" (keypress)="chkNum($event)">
              <p *ngIf="isError(form.controls['firstname'],'required')" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
            </div>
            <div class="col-md-2 text-right">
              <p>นามสกุล :</p>
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="model.lastname" name="model.lastname"
                formControlName="lastname" maxlength="50" (keyup)="onChkForm()" (keypress)="chkNum($event)">
              <p *ngIf="isError(form.controls['lastname'],'required')" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right">
              <p>วัน/เดือน/ปีเกิด :</p>
            </div>
            <div class="col-md-4">
              <input type="date" class="form-control" [(ngModel)]="model.birthdate" name="model.birthdate" [max]="datenow"
                formControlName="birthdate" (change)="onChkForm()" (keyup)="chkDate()">
              <p *ngIf="isError(form.controls['birthdate'],'required')" style="color: red" class="text-left">**กรุณาเลือกข้อมูล</p>
              <p *ngIf="ischkdate == true" style="color: red" class="text-left">**กรุณากรอกข้อมูลให้ถูกต้อง</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4"></div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right">
              <p>สถานที่เกิด :</p>
            </div>
            <div class="col-md-10">
              <textarea rows="2" class="form-control" [(ngModel)]="model.bornlocation" name="model.bornlocation"
                formControlName="bornlocation" maxlength="500" (keyup)="onChkForm()"></textarea>
              <p *ngIf="isError(form.controls['bornlocation'],'required')" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-2 text-right">
              <p>ชื่อบิดา :</p>
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="model.fathername" name="model.fathername"
                formControlName="fathername" maxlength="100" (keyup)="onChkForm()" (keypress)="chkNum($event)">
              <p *ngIf="isError(form.controls['fathername'],'required')" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
            </div>
            <div class="col-md-2 text-right">
              <p>ชื่อมารดา :</p>
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="model.mathername" name="model.mathername"
                formControlName="mathername" maxlength="100" (keyup)="onChkForm()" (keypress)="chkNum($event)">
              <p *ngIf="isError(form.controls['mathername'],'required')" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Tab 2 -->
      <div class="tab-content" *ngIf="itab==2">
        <div id="home" class="container tab-pane active"><br>
          <div class="row">
            <div class="col-md-3">
              <p>ประวัติก่อนเข้าโครงการ :</p>
            </div>
            <div class="col-md-9 text-left">
              <textarea rows="3" class="form-control" [(ngModel)]="model.historybefore" name="model.historybefore"
                formControlName="historybefore" (keyup)="onChkForm()"></textarea>
              <p *ngIf="isError(form.controls['historybefore'],'required')" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
            </div>
          </div><br>
          <hr><br>

          <p class="text-left">ประวัติการฉีดวัคซีน :</p>
          <div class="row" *ngFor="let item of model.vaccine;let index = index">
            <div class="col-md-2 text-right">
              <p>{{index+1}} .</p>
            </div>
            <div class="col-md-4">
              <select class="form-control" style="margin-bottom: 5px; padding: 5px; height: 35px; cursor: pointer" [(ngModel)]="item.vaccineid" name="item.vaccineid"
                formControlName="{{'vaccineid'+index}}">
                <option value="">--กรุณาเลือก--</option>
                <option *ngFor="let item of vaccineList" [value]="item.vaccineid">{{item.name}}</option>
              </select>
              <p *ngIf="isError(form.controls['vaccineid'+index],'required')" style="color: red" class="text-left">**กรุณาเลือกข้อมูล</p>
            </div>
            <div class="col-md-3">
              <input type="date" class="form-control" [(ngModel)]="item.vaccinedate" name="item.vaccinedate" [max]="datenow" [min]="minDate"
                formControlName="{{'vaccinedate'+index}}">
              <p *ngIf="isError(form.controls['vaccinedate'+index],'required')" style="color: red" class="text-left">**กรุณาเลือกข้อมูล</p>
            </div>
            <div class="col-md-3">
              <button class="btn btn-warning btn-sm btn-cancle"  (click)="delFormVaccine(index)"><img src="../../../assets/images/bin.png" width="20%"></button>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <button class="btn btn-success btn-sm btn-save" (click)="addFormVaccine()"><i class="fas fa-plus fa-sm"></i></button>
            </div>
          </div>
          <br>
          <hr><br>

          <p class="text-left">แรกรับ พัฒนาการด้านต่าง ๆ</p><br>
          <div class="row">
            <div class="col-md-3 text-center">
              <p>ด้านร่างกาย :</p>
            </div>
            <div class="col-md-9">
              <textarea rows="3" class="form-control" [(ngModel)]="model.bodygrowth" name="model.bodygrowth"
                formControlName="bodygrowth" (keyup)="onChkForm()"></textarea>
              <p *ngIf="isError(form.controls['bodygrowth'],'required')" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-3 text-center">
              <p>ด้านอารมณ์และสังคม :</p>
            </div>
            <div class="col-md-9">
              <textarea rows="3" class="form-control" [(ngModel)]="model.emotionsocial" name="model.emotionsocial"
                formControlName="emotionsocial" (keyup)="onChkForm()"></textarea>
              <p *ngIf="isError(form.controls['emotionsocial'],'required')" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-3 text-center">
              <p>ด้านภาษาและการเรียนรู้ :</p>
            </div>
            <div class="col-md-9">
              <textarea rows="3" class="form-control" [(ngModel)]="model.languagelearn" name="model.languagelearn"
                formControlName="languagelearn" (keyup)="onChkForm()"></textarea>
              <p *ngIf="isError(form.controls['languagelearn'],'required')" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Tab 3 -->
      <div class="tab-content" *ngIf="itab==3">
        <div id="home" class="container tab-pane active"><br>
          <div class="row">
            <div class="col-md-4 text-center">
              <p>แผนการดำเนินงานกับเด็ก :</p>
            </div>
            <div class="col-md-8">
              <textarea rows="3" class="form-control" [(ngModel)]="model.planworkwithorphan" name="model.planworkwithorphan"
                formControlName="planworkwithorphan" (keyup)="onChkForm()"></textarea>
              <p *ngIf="isError(form.controls['planworkwithorphan'],'required')" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
            </div>
          </div>
        </div>
      </div>
    </form>
  <!-- </div> -->

  <!-- footer modal -->
</div>
<div class="modal-footer" *ngIf="itab==1">
  <button type="button" class="btn btn-danger btn-sm btn-cancle" (click)="closeModal()">ยกลิก</button>
  <button class="btn btn-success btn-sm btn-save" (click)="tab2(itab)">หน้าถัดไป ></button>
</div>
<div class="modal-footer" *ngIf="itab==2">
  <button type="button" class="btn btn-danger btn-sm btn-cancle" (click)="closeModal()">ยกลิก</button>
  <button class="btn btn-warning btn-sm btn-back" (click)="tab1(itab)">
    < ย้อนกลับ</button> <button class="btn btn-success btn-sm btn-save" (click)="tab3(itab)">หน้าถัดไป >
  </button>
</div>
<div class="modal-footer" *ngIf="itab==3">
  <button type="button" class="btn btn-danger btn-sm btn-cancle" (click)="closeModal()">ยกลิก</button>
  <button class="btn btn-warning btn-sm btn-back" (click)="tab2(itab)">
    < ย้อนกลับ</button> <button class="btn btn-success btn-sm btn-save" (click)="onSaveDetailOrphan(chkForm)">บันทึก
  </button>
</div>

<ng4-loading-spinner [threshold]="1" [timeout]="func.loadingTimeout()" [template]="func.loadingTemplate()"></ng4-loading-spinner>