<!-- Modal -->
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{headerTitle}}</h5>
  <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="closeMod()"></i></div>
</div>
<div class="modal-body">
    <form [formGroup]="form" >
  <!-- <div class="container"> -->
    <div class="row">
      <div class="col-md-12"> <b>ก. ลักษณะและขนาดของที่อยู่</b></div>
      <div class="col-md-12">
        <br>
        <textarea id="dd1" rows="3" class="form-control" formControlName="homedetail_sub1" [(ngModel)]="model.homedetail_sub1" maxlength="255" (keyup)="CheckInput($event)"></textarea>
        <p *ngIf="isError(form.controls['homedetail_sub1'])">***กรุณากรอกข้อมูล***</p>
        <br>
      </div>
      <div class="col-md-12"><b>ข. สภาพของที่อยู่</b>
      </div>
      <div class="col-md-12">
        <br>
        <textarea rows="3" class="form-control" formControlName="homedetail_sub2" [(ngModel)]="model.homedetail_sub2" maxlength="255" (keyup)="CheckInput($event)"></textarea>
        <p *ngIf="isError(form.controls['homedetail_sub2'])">***กรุณากรอกข้อมูล***</p>
        <br>
      </div>
      <div class="col-md-12"><b>ค. สถานที่ซึ่งจะจัดให้เด็กอยู่</b>
      </div>
      <div class="col-md-12">
        <br>
        <textarea rows="3" class="form-control" formControlName="homedetail_sub3" [(ngModel)]="model.homedetail_sub3" maxlength="255" (keyup)="CheckInput($event)"></textarea>
        <p *ngIf="isError(form.controls['homedetail_sub3'])">***กรุณากรอกข้อมูล***</p>
        <br>
      </div>
      <div class="col-md-12"><b>ง. เครื่องอุปกรณ์การเลี้ยงเด็กและส่งเสริมการศึกษา</b>
      </div>
      <div class="col-md-12">
        <br>
        <textarea rows="3" class="form-control" formControlName="homedetail_sub4" [(ngModel)]="model.homedetail_sub4" maxlength="255" (keyup)="CheckInput($event)"></textarea>
        <p *ngIf="isError(form.controls['homedetail_sub4'])">**กรุณากรอกข้อมูล</p>
        <br>
      </div>
    </div>
  <!-- </div> -->
  </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" (click)="closeModal()">ตกลง</button>
    <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal" (click)="prevModal()">< ย้อนกลับ</button>
    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="nextModal()">หน้าถัดไป ></button>
</div>