<!-- Modal -->
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel"></h5>
</div>
<div class="modal-body">
  <form [formGroup]="form" >
    <div class="foem-group">
      <label for="">3.1 เส้นทางการคมนาคม/การเดินทางเข้าสู่หมู่บ้าน</label>
      <textarea class="form-control" rows="3" formControlName="street" [(ngModel)]="model.street"></textarea>
      <p *ngIf="isError(form.controls['street'])">**กรุณากรอกข้อมูล**</p>
      <br>
      <label for="">3.2 อัตราการมีไฟฟ้าใช้ในหมู่บ้าน</label>
      <textarea class="form-control" rows="3" formControlName="home_electricity" [(ngModel)]="model.home_electricity"></textarea>
      <p *ngIf="isError(form.controls['home_electricity'])">**กรุณากรอกข้อมูล**</p>
      <br>
      <label for="">3.3 แหล่งน้ำอุปโภคบริโภคในหมู่บ้าน</label>
      <textarea class="form-control" rows="3" formControlName="water_source" [(ngModel)]="model.water_source"></textarea>
      <p *ngIf="isError(form.controls['water_source'])">**กรุณากรอกข้อมูล**</p>
      <br>
      <label for="">3.4 รอบชุมชน/หมู่บ้านมีโรงเรียนหรือไม่ ?</label>
      <textarea class="form-control" rows="3" formControlName="school" [(ngModel)]="model.school"></textarea>
      <p *ngIf="isError(form.controls['school'])">**กรุณากรอกข้อมูล**</p>
      <br>
      <label for="">3.5 รอบชุมชน/หมู่บ้านมีวัดหรือไม่ ?</label>
      <textarea class="form-control" rows="3" formControlName="temple" [(ngModel)]="model.temple"></textarea>
      <p *ngIf="isError(form.controls['temple'])">**กรุณากรอกข้อมูล**</p>
      <br>
      <label for="">3.6 รอบชุมชน/หมู่บ้านมีสถานพยาบาลหรือไม่ ?</label>
      <textarea class="form-control" rows="3" formControlName="hospital" [(ngModel)]="model.hospital"></textarea>
      <p *ngIf="isError(form.controls['hospital'])">**กรุณากรอกข้อมูล**</p>
      <br>
      <label for="">3.7 รอบชุมชน/หมู่บ้านมีสถานที่สาธารณะอื่น ๆ หรือไม่ ?</label>
      <textarea class="form-control" rows="3" formControlName="public_places" [(ngModel)]="model.public_places"></textarea>
      <p *ngIf="isError(form.controls['public_places'])">**กรุณากรอกข้อมูล**</p>
      <br>
      <label for="">3.8 รอบชุมชน/หมู่บ้านมีบริษัทหรือโรงงานอุตสาหกรรมหรือไม่ ? </label>
      <textarea class="form-control" rows="3" formControlName="factory" [(ngModel)]="model.factory"></textarea>
      <p *ngIf="isError(form.controls['factory'])">**กรุณากรอกข้อมูล**</p>

  </div>
  </form>
</div> 
  
<div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" (click)="closeModal()">ยกเลิก</button>
    <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="prevModal()">< ย้อนกลับ</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="nextModal()">หน้าถัดไป ></button>
</div>