p {
  text-align: right;
  font-weight: bold;
  color: red;
}

button {
  cursor: pointer !important;
}
a {
  font-size: 15px;
}
a > i:hover {
  color: rgb(255, 204, 62) !important;
  font-size: 15px;
}
i{
    color: rgb(82, 82, 82) !important;
    font-size: 15px;
}
.button-view {
  font-size: 20px;
  margin: 3px;
}

input[type="text"],
[type="number"] {
  padding: 5px;
  margin-bottom: 5px;
}
span {
  font-size: 20px;
}
label {
  cursor: pointer !important;
}
.icon-statusCompleted{
  color: #00931a !important;
}
.background-card {
  background-color: rgb(240, 240, 240) !important;
}
.btn-add,
.btn-search {
  background-color: rgb(30, 114, 50) !important;
}
.btn-reset {
  background-color: rgb(255, 206, 72) !important;
}
.mar{
  margin-left: 42%;
}

