<div class="card" (keypress)="onEnter($event)">
  <div class="card-header background-card"> รายการเด็กในโครงการอุปถัมภ์ </div>
  <div class="card-body">  

    <div class="row">
      <div class="col-md-2 "></div>
      <div class="col-md-2 text-right"> ชื่อ-นามสกุล : </div>
      <div class="col-md-4">
        <input type="text" class="form-control" [(ngModel)]="model.fullname"  maxlength="100" (keypress)="chkName($event)">
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="row">
      <div class="col-md-2 "></div>
      <div class="col-md-2 text-right"> อายุ : </div>
      <div class="col-md-4">
        <div class="form-inline">
          <input type="text" class="form-control" [(ngModel)]="model.agestartorphan" style="width:41%" min="0"
            maxlength="3" (keypress)="chkAge($event)">&nbsp;ปี &nbsp; ถึง &nbsp;
          <input type="text" class="form-control" [(ngModel)]="model.ageendorphan" style="width:41%" max="100" min="0"
            maxlength="3" (keypress)="chkAge($event)">&nbsp;ปี
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2 text-right">สถานะ :</div>
      <div class="col-md-4">
        <select class="form-control" style="padding: 5px; margin-bottom:4px;height:35px;cursor: pointer;" [(ngModel)]="model.orphanstatus">
          <option value="">--ทั้งหมด--</option>
          <option *ngFor="let item of orphanstatus" [value]="item.orphanstatusid">{{item.name}}</option>
        </select>
      </div>
      <div class="col-md-4"></div>
    </div>

  <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2 text-right"></div>
      <div class="col-md-4 text-center">
          <button class="btn btn-warning btn-sm btn-reset" (click)="onReset()">รีเซ็ต</button>
          &nbsp;
          <button class="btn btn-primary btn-sm btn-search" (click)="onSearchOrphan()">ค้นหา</button>
      </div>
      <div class="col-md-4"></div>
    </div>

    <br>
    <hr><br>
    <div class="row">
      <div class="col-md-5 text-left">
        <button class="btn btn-sm btn-success btn-add" (click)="onAdd()"><i class="fas fa-user-plus" style="font-size: 14pt; color: white !important;"></i>&nbsp;
          เพิ่มเด็กในโครงการอุปถัมภ์</button>
      </div>
      <div class="col-md-7 text-left">
        <div class="row">
          <div class="col-md-6">
            <i class="nb-square" style="color: rgb(255, 255, 255) !important; border: 1px solid black"></i>&nbsp;มูลนิธิพัฒนาชีวิตชนบท(ไม่ได้รับการอุปถัมภ์)
          </div>
          <div class="col-md-6">
            <i class="nb-square" style="color: rgb(255, 255, 255) !important; border: 1px solid black"></i>&nbsp;มูลนิธิพัฒนาชีวิตชนบท(ได้รับการอุปถัมภ์)
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <i class="nb-square" style="color: rgb(234, 224, 175) !important; background-color: rgb(234, 224, 175) !important; border: 1px solid black"></i>&nbsp;บุตรบุญธรรมชาวไทย
          </div>
          <div class="col-md-6">
            <i class="nb-square" style="color: rgb(233, 252, 111) !important; background-color: rgb(233, 252, 111) !important; border: 1px solid black"></i>&nbsp;กลับคืนสู่ครอบครัวเดิม
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <i class="nb-square" style="color: rgb(212,230,226) !important; background-color: rgb(212,230,226) !important; border: 1px solid black"></i>&nbsp;บุตรบุญธรรมชาวต่างชาติ
          </div>
          <div class="col-md-6">
            <i class="nb-square" style="color: rgb(219,216,221) !important; background-color: rgb(219,216,221) !important; border: 1px solid black"></i>&nbsp;ยุติการอุปการะ
          </div>
        </div>
      </div>
    </div><br>
    <ng2-smart-table [settings]="tbSettings" [source]="datasource" (rowSelect)="func.setTableNumber($event)">

    </ng2-smart-table>
  </div>
</div>

<ng4-loading-spinner [threshold]="1" [timeout]="func.loadingTimeout()" [template]="func.loadingTemplate()"></ng4-loading-spinner>