<div class="modal-header">
  <h5>ข้อมูลเด็กในโครงการอุปถัมภ์</h5>
  <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="close()"></i></div>
</div>

<div class="modal-body">
  <div class="detailorphan">
    <div class="row">
      <div class="col-md-3"></div>
      <!-- <div class="col-md-4"></div> -->
      <div class="col-md-6">
        <div class="text-center">
            <img *ngIf="!imagePreView && !model.picturepath" src="assets/images/no-image-profile.png" class="image" >
            <img *ngIf="model.picturepath && !imagePreView" src="{{model.picturepath}}" class="image" >
            <img *ngIf="imagePreView !== '' && imagePreView" [src]="imagePreView" class="image" >
          <!-- <br><br>
          <div class="col-md-2-offset-3">
          </div> -->
        </div>
        <div class="col-md-3"></div>
      </div>
    </div><br>

    <div class="row">
      <div class="col-md-3 text-right weight">ชื่อ-นามสกุล :</div>
      <div class="col-md-4 ">{{model.fullnameorphan}}</div>
      <div class="col-md-2 text-right weight">ชื่อเล่น :</div>
      <div class="col-md-3">{{model.nickname}}</div>
    </div><br>
    <div class="row">
      <div class="col-md-3 text-right weight">วัน/เดือน/ปีเกิด :</div>
      <div class="col-md-4">{{model.birthdate}}</div>
      <div class="col-md-2 text-right weight">อายุ :</div>
      <div class="col-md-3">{{model.age}} (ปี.เดือน)</div>
    </div><br>
    <div class="row">
      <div class="col-md-3 text-right weight">เพศ :</div>
      <div class="col-md-3">{{model.gendername}}</div>
    </div><br>
    <div class="row">
      <div class="col-md-3 text-right weight">สถานะ :</div>
      <div class="col-md-9">{{model.orphanstatusname}}</div>
    </div>
  </div>
</div>

<!-- <div class="modal-footer">
  <button class="btn btn-cancle btn-sm" (click)="close()">ปิด</button>
</div> -->