<div class="modal-header">เลือกผู้อุปถัมภ์</div>
<div class="modal-boday">Content</div>
<div class="modal-footer">
  <button class="btn btn-cancle btn-sm" (click)="onClose()">ยกเลิก</button>&nbsp;
  <button class="btn btn-save btn-sm" (click)="onSave()">บันทึก</button>
</div>

<ng4-loading-spinner [threshold]="1" [timeout]="fn.loadingTimeout()" [template]="fn.loadingTemplate()"></ng4-loading-spinner>