<!-- แก้ไขรายงานความก้าวหน้า -->
<div class="modal-header">
  <h5>รายงานความก้าวหน้าของเด็กในโครงการครอบครัวอุปการะ</h5>
  <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="close()"></i></div>
</div>

<div class="modal-body">
<form [formGroup]="form">
<div class="form-group">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
          <div class="text-right">
              <img *ngIf="!imagePreView && !model.picturepath" src="assets/images/no-image-profile.png" class="image">
              <img *ngIf="model.picturepath && !imagePreView" src="{{model.picturepath}}" class="image" >
              <img *ngIf="imagePreView !== '' && imagePreView" [src]="imagePreView" class="image" >
          </div>
          <div class="dw col-md-4">
              <input type="file" class="custom-file-input" id="customFile" (change)="onFileSelected($event,inputFile)" accept="image/*" #inputFile>
              <label class="fas fa-camera fa-lg" for="customFile" title="เลือกไฟล์รูปภาพ"></label>   
          </div>
      </div>
      <div class="col-md-7 text-left">
        <div class="p row">
            <div class="col-md-3 text-right"></div>
            <div class="col-md-6"></div>
        </div>

        <div class="row">
            <div class="col-md-3 text-right"><b>น้ำหนัก : </b></div>
            <div class="col-md-6">
            <input type=text class="form-control" formControlName="weight" [(ngModel)]="model.weight" name="weight" maxlength="3" autocomplete="off" (keypress)="chkChar($event)">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-right"><b>ส่วนสูง : </b></div>
            <div class="col-md-6">
                <input type=text class="form-control" formControlName="height" [(ngModel)]="model.height" name="height" maxlength="3" autocomplete="off" (keypress)="chkChar($event)">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-right"><b>รอบศีรษะ : </b></div>
            <div class="col-md-6">
                <input type=text class="form-control" formControlName="aroundhead" [(ngModel)]="model.aroundhead" name="aroundhead" maxlength="3" autocomplete="off" (keypress)="chkChar($event)">
            </div>
          </div>
          <div class="row">    
            <div class="col-md-3 text-right"><b>รอบอก : </b></div>
            <div class="col-md-6">
                <input type=text class="form-control" formControlName="chest" [(ngModel)]="model.chest" name="chest" maxlength="3" autocomplete="off" (keypress)="chkChar($event)">
            </div>
          </div>
      </div>
    </div>
  </div>
  <br>
  <hr>

  <label for="">ก. สภาพเด็กโดยทั่วไป และการเปลี่ยนแปลงที่ผ่านมา</label>
  <textarea class="form-control" rows="4" formControlName="pastchanges" [(ngModel)]="model.pastchanges"
    maxlength="500"></textarea>
  <p *ngIf="isError(form.controls['pastchanges'])">**กรุณากรอกข้อมูล</p>

  <br>
  <label for="">ข. การรับประทานอาหาร</label>
  <textarea class="form-control" rows="4" formControlName="eat" [(ngModel)]="model.eat"
    maxlength="500"></textarea>
  <p *ngIf="isError(form.controls['eat'])">**กรุณากรอกข้อมูล</p>

  <br>
  <label for="">ค. การนอน</label>
  <textarea class="form-control" rows="4" formControlName="sleep" [(ngModel)]="model.sleep"
    maxlength="500"></textarea>
  <p *ngIf="isError(form.controls['sleep'])">**กรุณากรอกข้อมูล</p>

  <br>
  <label for="">ง. การขับถ่าย</label>
  <textarea class="form-control" rows="4" formControlName="excretion" [(ngModel)]="model.excretion"
    maxlength="500"></textarea>
  <p *ngIf="isError(form.controls['excretion'])">**กรุณากรอกข้อมูล</p>

  <br>
  <label for="">จ. อุปนิสัยและลักษณะทั่วไป</label>
  <textarea class="form-control" rows="4" formControlName="characters" [(ngModel)]="model.characters"
    maxlength="500"></textarea>
  <p *ngIf="isError(form.controls['characters'])">**กรุณากรอกข้อมูล</p>

</div>
</form>
</div>

<div class="modal-footer">
  <button class="btn btn-cancle btn-sm" (click)="close()">ยกเลิก</button>
  <button class="btn btn-save btn-sm" (click)="onSave()">บันทึก</button>
</div>  


<!-- <div class="modal-header">
  <h5>รายงานความก้าวหน้าของเด็กในโครงการครอบครัวอุปการะ</h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="text-right">
            <img *ngIf="!imagePreView && !model.picturepath" src="assets/images/no-image-profile.png" class="image" >
            <img *ngIf="model.picturepath && !imagePreView" src="{{model.picturepath}}" class="image" >
            <img *ngIf="imagePreView !== '' && imagePreView" [src]="imagePreView" class="image" >
            <br><br>
            <div class="col-md-2-offset-3">
            </div>
          </div>
        </div>
      </div>
  <form [formGroup]="form">
    <div class="form-group">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="custom-file"> -->
            <!-- <input type="file" (change)="onFileSelected($event,inputFile)" accept="image/*" #inputFile> -->
            <!-- <input type="file" class="custom-file-input" id="customFile" (change)="onFileSelected($event,inputFile)"
              accept="image/*" #inputFile>
            <label class="custom-file-label" for="customFile">เลือกไฟล์รูปภาพ</label>
          </div>
        </div>
    </div><br> 
    <br>        
      <div class="row">
        <div class="col-md-2 text-right">น้ำหนัก : </div>
        <div class="col-md-3">
        <input type=text class="form-control" formControlName="weight" [(ngModel)]="model.weight" name="weight" maxlength="3" autocomplete="off" (keypress)="chkChar($event)">
        </div>
        <div class="col-md-2 text-right">ส่วนสูง : </div>
        <div class="col-md-3">
            <input type=text class="form-control" formControlName="height" [(ngModel)]="model.height" name="height" maxlength="3" autocomplete="off" (keypress)="chkChar($event)">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-2 text-right">รอบศรีษะ :</div>
        <div class="col-md-3">
            <input type=text class="form-control" formControlName="aroundhead" [(ngModel)]="model.aroundhead" name="aroundhead" maxlength="3" autocomplete="off" (keypress)="chkChar($event)">
        </div>
        <div class="col-md-2 text-right">รอบอก :</div>
        <div class="col-md-3">
            <input type=text class="form-control" formControlName="chest" [(ngModel)]="model.chest" name="chest" maxlength="3" autocomplete="off" (keypress)="hkChar($event)">
        </div>
      </div>
      <br>
      <label for="">ก. สภาพเด็กโดยทั่วไป และการเปลี่ยนแปลงที่ผ่านมา</label>
      <textarea class="form-control" rows="4" formControlName="pastchanges" [(ngModel)]="model.pastchanges"
        maxlength="500"></textarea>
      <p *ngIf="isError(form.controls['pastchanges'])">**กรุณากรอกข้อมูล</p>
      <br>
      <label for="">ข. การรับประทานอาหาร</label>
      <textarea class="form-control" rows="4" formControlName="eat" [(ngModel)]="model.eat"
        maxlength="500"></textarea>
      <p *ngIf="isError(form.controls['eat'])">**กรุณากรอกข้อมูล</p>
      <br>
      <label for="">ค. การนอน</label>
      <textarea class="form-control" rows="4" formControlName="sleep" [(ngModel)]="model.sleep"
        maxlength="500"></textarea>
      <p *ngIf="isError(form.controls['sleep'])">**กรุณากรอกข้อมูล</p>
      <br>
      <label for="">ง. การขับถ่าย</label>
      <textarea class="form-control" rows="4" formControlName="excretion" [(ngModel)]="model.excretion"
        maxlength="500"></textarea>
      <p *ngIf="isError(form.controls['excretion'])">**กรุณากรอกข้อมูล</p>
      <br>
      <label for="">จ. อุปนิสัยและลักษณะทั่วไป</label>
      <textarea class="form-control" rows="4" formControlName="characters" [(ngModel)]="model.characters"
        maxlength="500"></textarea>
      <p *ngIf="isError(form.controls['characters'])">**กรุณากรอกข้อมูล</p>
    </div>
  </form>  
</div>
<div class="modal-footer">
  <button class="btn btn-cancle btn-sm" (click)="close()">ยกเลิก</button>
  <button class="btn btn-save btn-sm" (click)="onSave()">บันทึก</button>
</div> -->