button {
  cursor: pointer !important;
}
p {
  font-weight: bold;
  text-align: right;
}

// i {
//   font-size: 20px;
// }
.fa-times{
  margin-right: -25%;
  color:#fff;
}
.fa-times:hover{
  color:rgb(179, 0, 0);
}
select {
  cursor: pointer !important;
}
.modal-header {
  background-color: rgb(67, 185, 94);
}
.modal-body {
  background-color: rgb(247, 245, 245);
}
h5 {
  color: white !important;
}
.btn-cancle {
  background-color: rgb(255, 206, 72) !important;
}
.btn-save {
  background-color: rgb(67, 185, 94) !important;
}
input[type="text"],[type="date"] {
  padding: 5px;
  margin-bottom: 5px;
}
input[type="file"]{
  width: 20%;
  border: 5px solid black;
}
.image{
  width: 200px;
  height: 200px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: rgb(250, 250, 250);
}
.dw{
  margin-top: -5%;
  margin-left: 15%;
}
.fa-camera{
  color:rgb(24, 24, 24);
}