<div class="modal-header">
  <h5>เพิ่มข้อมูลเด็กในโครงการอุปถัมภ์</h5>
  <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="closeModal()"></i></div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
          <img *ngIf="!imagePreView && !model.picturepath" src="assets/images/no-image-profile.png" class="image">
          <img *ngIf="model.picturepath && !imagePreView" src="{{model.picturepath}}" class="image" >
          <img *ngIf="imagePreView !== '' && imagePreView" [src]="imagePreView" class="image" >
      </div>
    </div>
  </div>
  <div class="row"> 
    <div class="col-md-4"></div>
    <div class="dw col-md-4">
          <input type="file" class="custom-file-input" id="customFile" (change)="onFileSelected($event,inputFile)" accept="image/*" #inputFile>
          <label class="fas fa-camera fa-lg" for="customFile" title="เลือกไฟล์รูปภาพ"></label>
      <div class="col-md-4"></div>  
    </div>
  </div>
  <br><br>

  <form [formGroup]="form" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-2">
        <p>เลขบัตรประจำตัวประชาชน :</p>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control" [(ngModel)]="model.citizenid" name="model.citizenid" formControlName="citizenid"
          maxlength="13" minlength="13" (blur)="onBlur()" (keypress)="chkCitizenid($event)">
        <p *ngIf="isError(form.controls['citizenid'])" style="color: red" class="text-left">**กรุณากรอกเลขประจำตัวประชาชน</p>
        <p *ngIf="isDuplicate == true" style="color: red" class="text-left">**เลขประจำตัวประชาชนซ้ำ</p>
      </div>
      <div class="col-md-2">
        <p>เพศ :</p>
        </div>
        <div class="col-md-4">
          <select class="form-control" style="padding: 5px; height: 35px; cursor: pointer;" [(ngModel)]="model.genderid"
            name="model.genderid" formControlName="genderid" (change)="onPrefixid()">
            <option value="">--กรุณาเลือก--</option>
            <option *ngFor="let item of genderList" [value]="item.genderid">{{item.gendername}}</option>
          </select>
          <p *ngIf="isError(form.controls['genderid'])" style="color: red" class="text-left">**กรุณาเลือกข้อมูล</p>
        </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2">
        <p>คำนำหน้า :</p>
      </div>
      <div class="col-md-4">
        <!-- <select class="form-control" *ngIf="!model.genderid" disabled>
          <option value="">--กรุณาเลือก--</option>
        </select> -->
        <select class="form-control" style="padding: 5px; height: 35px; cursor: pointer;" [(ngModel)]="model.prefixid"
          name="model.prefixid" formControlName="prefixid">
          <option value="">--กรุณาเลือก--</option>
          <option *ngFor="let item of prefixList" [value]="item.prefixid">{{item.name}}</option>
        </select>
        <p *ngIf="isError(form.controls['prefixid'])" style="color: red" class="text-left">**กรุณาเลือกข้อมูล</p>
      </div>
      <div class="col-md-2">
          <p>ชื่อ :</p>
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" [(ngModel)]="model.firstname" name="model.firstname" formControlName="firstname"
            maxlength="50" (keypress)="chkName($event)" (keypress)="chkSpacebar($event)">
          <p *ngIf="isError(form.controls['firstname'])" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
        </div>
    </div><br>
    <div class="row">
      <div class="col-md-2">
        <p>นามสกุล :</p>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control" [(ngModel)]="model.lastname" name="model.lastname" formControlName="lastname"
          maxlength="50" (keypress)="chkName($event)" (keypress)="chkSpacebar($event)">
        <p *ngIf="isError(form.controls['lastname'])" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
      </div>
      <div class="col-md-2">
          <p>ชื่อเล่น :</p>
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" [(ngModel)]="model.nickname" name="model.nickname" formControlName="nickname"
            maxlength="50" (keypress)="chkName($event)">
          <p *ngIf="isError(form.controls['nickname'])" style="color: red" class="text-left">**กรุณากรอกข้อมูล</p>
        </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-2 ">
        <p>วัน/เดือน/ปีเกิด :</p>
      </div>
      <div class="col-md-4">
        <input type="date" class="form-control" [(ngModel)]="model.birthdate" name="model.birthdate" formControlName="birthdate"
          [max]="datenow" (keyup)="chkDate()">
        <p *ngIf="isError(form.controls['birthdate'])" style="color: red" class="text-left">**กรุณาเลือกข้อมูล</p>
        <p *ngIf="isCheckDate == true" style="color: red" class="text-left">**กรุณากรอกข้อมูลให้ถูกต้อง</p>
      </div>
    </div><br>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger btn-sm btn-cancle" data-dismiss="modal" (click)="closeModal()">ยกเลิก</button>
  <button type="button" class="btn btn-success btn-sm btn-save" (click)="onSave()">บันทึก</button>
</div>

<ng4-loading-spinner [threshold]="1" [timeout]="func.loadingTimeout()" [template]="func.loadingTemplate()"></ng4-loading-spinner>