// Custom Theme

.layout nb-layout-header nav {
  background-color: #009a31 !important;
}
//   #62cfe2
// .menu-items, .menu-items>.menu-item{
//     background-color: #62cfe2 !important;
// }
// .menu-items>.menu-item a {
//     color: #ffffff !important;
// }
// .menu-items>.menu-item a:hover{
//     background-color: #19b7d3 !important;

// }

//----

.modal-xl {
  max-width: 980px;
}
.card-header {
  color: #464545;
  font-size: 18px;
  font-weight: bold;
  height: 60px;
  padding-top: 18px;
}
a {
  cursor: pointer;
}
a.link {
  color: #62cfe2 !important;
}
a.link:hover {
  text-decoration: underline !important;
}
.btn {
  cursor: pointer !important;
  min-width: 120px;
}
.table > thead > tr {
  color: #000000;
  background-color: #84cf96 !important;
}
.table .ng2-smart-title {
  text-align: center;
}
.table .ng2-smart-title a {
  color: #000000;
}
label {
  color: #000000;
}
.text-strong {
  font-weight: bold;
}
/**
BEGIN
    Loading style
**/
@-webkit-keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #ffffffe0;
  overflow: hidden;
  text-align: center;
}
.loading-container > .text {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
}
.loading-container div:first-child {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border-radius: 50%;
  box-shadow: 0 3px 3px 0 hsl(134, 44%, 66%);
  transform: translate3d(0, 0, 0);
  animation: spin 2s linear infinite;
}
.loading-container div:first-child:after,
.spinner div:first-child:before {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.loading-container div:first-child:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  box-shadow: 0 3px 3px 0 #ffe420;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
.loading-container div:first-child:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  box-shadow: 0 3px 3px 0 rgb(11, 128, 212);
  animation: spin 1.5s linear infinite;
}
.nb-theme-corporate
  ng2-smart-table
  nav.ng2-smart-pagination-nav
  .pagination
  li.active
  > span {
  background-color: #84cf96 !important;
}
// END

#moripop .header {
  background-color: rgb(67, 185, 94) !important;
}
#footer .btn-submit {
  background-color: rgb(67, 185, 94) !important;
}
#footer .btn-cancle {
  background-color: rgb(255, 206, 72) !important;
}
#message {
  background-color: rgb(247, 245, 245) !important;
}
.nb-theme-corporate nb-menu .menu-item a.active {
  background-color: #e3e9ee;
  color: #009a31;
  font-weight: 600;
}
.nb-theme-corporate nb-menu .menu-item a.active .menu-icon {
  color: #009a31 !important;
}
.nb-theme-corporate nb-menu .menu-item > .menu-items > .menu-item a.active {
  color: #009a31;
}
.nb-theme-corporate nb-menu .menu-item a.active .chevron {
  color: #009a31;
}
.nb-theme-corporate nb-layout .layout {
  font-family: Roboto;
  font-size: 1rem;
  line-height: 1.25;
  color: black !important;
  background: rgb(252, 250, 250);
  min-height: 100vh;
}
.status1 td {
  background-color: rgb(255, 255, 255) !important;
}
.status2 td {
  background-color: rgb(255, 255, 255) !important;
}
.status3 td {
  background-color: rgb(234, 224, 175) !important;
}
.status4 td {
  background-color: rgb(233, 252, 111) !important;
}
.status5 td {
  background-color: rgb(212, 230, 226) !important;
}
.status6 td {
  background-color: rgb(219, 216, 221) !important;
}
.menu-item a .menu-title {
  flex: 1;
  margin-left: 15px;
}
.nb-theme-corporate nb-menu .menu-item .menu-icon {
  font-size: 2rem;
  width: 2.5rem;
  margin: 0 0.25rem 0;
  text-align: center;
  color: #a4abb3;
}
ul.menu-items > li.menu-item .menu-title {
  font-size: 1rem !important;
}
.nb-theme-corporate nb-popover {
  border: 2px solid #9dd49b;
  background: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 6px;
}
.nb-theme-corporate nb-popover .arrow {
  border-bottom: 11px solid #9dd49b;
}

.nb-theme-corporate nb-menu.context-menu .menu-items .menu-item a:hover {
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
  background-color: #009a31 !important;
}
