h5 {
    color: white !important;
}
.modal-header{
    background-color: rgb(67, 185, 94);
}
.modal-body{
    background-color: rgb(247, 245, 245);
}
.btn-save{
    background-color:  rgb(67, 185, 94) !important;
}
.btn-search{
    background-color:  rgb(67, 185, 94) !important;
}
.btn-cancle{
    background-color: rgb(255, 206, 72) !important;
}
input[type="text"],[type="select"] {
    padding: 5px;
    margin-bottom: 5px;
  }
  .image{
    width: 180px;
    height: 180px;
    // border: 3px solid #fff;
    border-radius: 50%;
    background-color: rgb(250, 250, 250);
    box-shadow: 5px 5px 15px 2px rgba(50, 50, 50, .3);
  }
  .button-view {
    color: rgb(82, 82, 82) !important;
    font-size: 15px;
    cursor: pointer;
}
.button-view:hover {
    color: rgb(255, 204, 62) !important;
}
// .weight{
//     font-weight: bold;
// }
.fa-times{
    color:#fff;
  }
  .fa-times:hover{
    color:rgb(179, 0, 0);
  }