<div class="modal-header">
    <h5>รายงานความก้าวหน้าของเด็กในโครงการครอบครัวอุปการะ</h5>
    <div class="text-right"><i class="fas fa-times" data-dismiss="modal" (click)="close()"></i></div>
</div>

<div class="modal-body">

    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <img *ngIf="!imagePreView && !model.picturepath" src="assets/images/no-image-profile.png" class="image">
                <img *ngIf="model.picturepath && !imagePreView" src="{{model.picturepath}}" class="image">
            </div>
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-5 text-left "><b>ชื่อ :</b> {{model.fullnameorphan}}</div>
                <div class="col-md-3 text-left"><b>ชื่อเล่น :</b> {{model.nicknameorphan}}</div>
            </div><br>

            <div class="row">
                <div class="col-md-8 text-left"><b>วัน/เดือน/ปีเกิด :</b> {{model.birthdate}}</div>
            </div><br>
            <div class="row">
                <div class="col-md-3 text-left"><b>อายุ :</b> {{model.ageorphan}} ปี</div>
            </div><br>

            <!-- <div class="row">
                <div class="col-md-4 text-left">น้ำหนัก : {{model.weight}}</div>
                <div class="col-md-3 text-left">ส่วนสูง : {{model.height}}</div>
            </div><br> -->

            <!-- <div class="row">
                <div class="col-md-4 text-left">รอบศรีษะ : {{model.headband}}</div>
                <div class="col-md-3 text-left">รอบอก : {{model.chest}}</div>
            </div><br> -->

            <div class="row">
                <div class="col-md-8 text-left"><b>ชื่อครอบครัวอุปปการะ :</b> {{model.fullnamepatron}}</div>
            </div><br>

            <div class="row">
                <div class="col-md-8 text-left"><b>วันที่มาอยู่กับครอบครัว :</b> {{model.joinfamilydate}}</div>
            </div>
        </div>
    </div>
    <br>
    <hr><br>
    <br>

    <!-- <div class="row">
        <div class="col-md-4 text-right">เพิ่มข้อมูลความกว้าหน้าของเด็กฯ :</div>
        <div class="col-md-4"><button class="btn btn-save btn-sm" (click)="AddReport()">+</button></div>
    </div>
    <br>
    <hr><br> -->

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
                <select class="form-control" style="padding: 5px; height: 35px; cursor: pointer;"  name="model.searchdate" [(ngModel)]="model.searchdate">
                    <option value="">--กรุณาเลือก--</option>
                    <option *ngFor="let item of modellistyear" [value]="item.Year">ปี : {{item.Year}}</option>
                </select>

        </div>
        <div class="col-md-4"><button class="btn btn-search btn-sm" (click)="onSearchAdvancement()">ค้นหา</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10"><ng2-smart-table [settings]="tbSettings" [source]="datasource" (rowSelect)="func.setTableNumber($event)"></ng2-smart-table>
        </div>
        <div class="col-md-1"></div>  
    </div>
</div>

<!-- <div class="modal-footer"> -->
    <!-- <button class="btn btn-cancle btn-sm" (click)="close()">ปิด</button> -->
    <!-- <button class="btn btn-save btn-sm" (click)="save()">บันทึก</button> -->
<!-- </div> -->