
<div class="text-center">
  <img src="../../../assets/images/BBLove1.png" alt="BabyLover" style="margin-left:-5%;" width="50%">
</div>

<!-- <div class="row icon-container">
  <i class="nb-alert"></i>
  <i class="nb-angle-double-left"></i>
  <i class="nb-arrow-down"></i>
  <i class="nb-arrow-dropdown"></i>
  <i class="nb-arrow-dropleft"></i>
  <i class="nb-arrow-dropright"></i>
  <i class="nb-arrow-dropup"></i>
  <i class="nb-arrow-left"></i>
  <i class="nb-arrow-retweet"></i>
  <i class="nb-arrow-right"></i>
  <i class="nb-arrow-thin-down"></i>
  <i class="nb-arrow-thin-left"></i>
  <i class="nb-arrow-thin-right"></i>
  <i class="nb-arrow-thin-up"></i>
  <i class="nb-arrow-up"></i>
  <i class="nb-audio"></i>
  <i class="nb-bar-chart"></i>
  <i class="nb-chekmark"></i>
  <i class="nb-chevron-down"></i>
  <i class="nb-chevron-down-outline"></i>
  <i class="nb-chevron-left"></i>
  <i class="nb-chevron-left-outline"></i>
  <i class="nb-chevron-right"></i>
  <i class="nb-chevron-right-outline"></i>
  <i class="nb-chevron-up"></i>
  <i class="nb-chevron-up-outline"></i>
  <i class="nb-close"></i>
  <i class="nb-close-circled"></i>
  <i class="nb-cloudy"></i>
  <i class="nb-coffee-maker"></i>
  <i class="nb-compose"></i>
  <i class="nb-edit"></i>
  <i class="nb-email"></i>
  <i class="nb-flame-circled"></i>
  <i class="nb-gear"></i>
  <i class="nb-grid-a"></i>
  <i class="nb-grid-a-outline"></i>
  <i class="nb-grid-b"></i>
  <i class="nb-grid-b-outline"></i>
  <i class="nb-heart"></i>
  <i class="nb-home"></i>
  <i class="nb-keypad"></i>
  <i class="nb-layout-centre"></i>
  <i class="nb-layout-default"></i>
  <i class="nb-layout-one-column"></i>
  <i class="nb-layout-sidebar-left"></i>
  <i class="nb-layout-sidebar-right"></i>
  <i class="nb-layout-two-column"></i>
  <i class="nb-lightbulb"></i>
  <i class="nb-list"></i>
  <i class="nb-location"></i>
  <i class="nb-locked"></i>
  <i class="nb-loop"></i>
  <i class="nb-loop-circled"></i>
  <i class="nb-menu"></i>
  <i class="nb-notifications"></i>
  <i class="nb-paper-plane"></i>
  <i class="nb-partlysunny"></i>
  <i class="nb-pause"></i>
  <i class="nb-pause-outline"></i>
  <i class="nb-person"></i>
  <i class="nb-phone"></i>
  <i class="nb-play"></i>
  <i class="nb-play-outline"></i>
  <i class="nb-plus"></i>
  <i class="nb-plus-circled"></i>
  <i class="nb-power"></i>
  <i class="nb-power-circled"></i>
  <i class="nb-rainy"></i>
  <i class="nb-roller-shades"></i>
  <i class="nb-search"></i>
  <i class="nb-shuffle"></i>
  <i class="nb-skip-backward"></i>
  <i class="nb-skip-backward-outline"></i>
  <i class="nb-skip-forward"></i>
  <i class="nb-skip-forward-outline"></i>
  <i class="nb-snowy-circled"></i>
  <i class="nb-square"></i>
  <i class="nb-square-outline"></i>
  <i class="nb-star"></i>
  <i class="nb-sunny"></i>
  <i class="nb-sunny-circled"></i>
  <i class="nb-tables"></i>
  <i class="nb-title"></i>
  <i class="nb-trash"></i>
  <i class="nb-volume-high"></i>
  <i class="nb-volume-mute"></i>
</div> -->


<!-- <mat-icon>add_comment</mat-icon><h2>Maticon</h2><br>  -->
<!-- ต้องใช้ร่วมกับ Module เสมอ -->
<!-- <ion-icon name="tennisball"></ion-icon><h2>inicons</h2><br> -->
<!-- <i class="fas fa-edit"></i> <h2>Font awesome</h2><br>  -->
<!-- ใช้ได้ทุกหน้า -->
<!-- 
<div>
  <button class="btn btn-sm btn-info" (click)="alert();">Alert</button>
  <button class="btn btn-sm btn-info" (click)="confirm();">Confirm</button>
</div>
<div>
  <a class="btn btn-primary" routerLink="/pages/sponsor/participant/form">ไป</a>
  <input type="button" class="btn btn-primary" (click)="goto()" value="goto...">

  
<select [(ngModel)]="model.provincecode" (change)="getAmphurList()">
  <option value="">Please select</option>
  <option *ngFor="let item of provinces" [value]="item.Code">{{item.Name}}</option>
</select>

<select [(ngModel)]="model.amphurcode" (change)="getTumbolList()" [disabled]="!model.provincecode">
  <option value="">Please select</option>
  <option *ngFor="let item of amphurs" [value]="item.Code">{{item.Name}}</option>
</select>

<select [(ngModel)]="model.tumbolcode" [disabled]="!model.amphurcode">
  <option value="">Please select</option>
  <option *ngFor="let item of tumbols" [value]="item.Code">{{item.Name}}</option>
</select>

</div>
<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.title"
                     [type]="statusCard.type">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-contacts></ngx-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-solar [chartValue]="72"></ngx-solar>

    <ngx-kitten></ngx-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic></ngx-traffic>
    <ngx-weather></ngx-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
</div> -->
