input[type=text]{
    padding: 5px;
}

label{
    cursor: pointer;
}
h5 {
    font-weight: bold;
}

p{
    color: black;
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover{
    background-color: rgb(238, 255, 255);
}
input[type="button"]{
    height: 30px;
    padding-top: 5px;
    color: black;
}
input[type="button"]:hover{
    background-color: #f2f2f2;
    color: black;
}
.btn-success{
    background-color: rgb(30, 114, 50) !important;
}
.btn-warning{
    background-color: rgb(255, 206, 72) !important;
}
.btn-reset{
    background-color: rgb(59, 69, 201) !important;
}
.btn-download {
    background-color: rgb(67, 185, 94) !important;
}