.button-view {
    font-size: 15px;
    cursor: pointer;
  }
  .button-view:hover {
    color: rgb(255, 204, 62) !important;
  }
  label {
    margin-top: 15px;
  }
  
  input[type="text"] {
    padding: 5px;
    margin-bottom: 5px;
  }
  
  i {
    font-size: 15pt;
  }
  .icon {
    font-size: 15px !important;
    color: rgb(82, 82, 82) !important;
  }
  .icon:hover {
    color: rgb(255, 204, 62) !important;
  }
  .background-card {
    background-color: rgb(240, 240, 240) !important;
  }
  .btn-add,
  .btn-search {
    background-color: rgb(30, 114, 50) !important;
  }
  .btn-reset {
    background-color: rgb(255, 206, 72) !important;
  }
  .mar{
    margin-left: 5%;
  }